{"openapi":"3.0.1","info":{"title":"Landing Page and Site Page endpoints","description":"Use these endpoints for interacting with Landing Pages and Site Pages","termsOfService":null,"contact":null,"license":null,"version":"v3","extensions":null},"externalDocs":null,"servers":[{"url":"https://api.hubapiqa.com","description":null,"variables":null,"extensions":null}],"security":null,"tags":[{"name":"Site Pages","description":null,"externalDocs":null,"extensions":null},{"name":"Landing Pages","description":null,"externalDocs":null,"extensions":null}],"paths":{"/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}":{"summary":null,"description":null,"get":{"tags":["Site Pages"],"summary":"Retrieves a previous version of a Site Page","description":"Retrieves a previous version of a Site Page","externalDocs":null,"operationId":"get-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}","parameters":[{"name":"objectId","in":"path","description":"The Site Page id.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"revisionId","in":"path","description":"The Site Page version id.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/VersionPage","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"private_apps_legacy":["cms.pages.site_pages.read_write"]},{"private_apps_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"oauth2_legacy":["cms.pages.site_pages.read_write"]}],"servers":null,"extensions":null},"put":null,"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages/{objectId}/revisions":{"summary":null,"description":null,"get":{"tags":["Landing Pages"],"summary":"Retrieves all the previous versions of a Landing Page","description":"Retrieves all the previous versions of a Landing Page.","externalDocs":null,"operationId":"get-/cms/v3/pages/landing-pages/{objectId}/revisions","parameters":[{"name":"objectId","in":"path","description":"The Landing Page id.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"after","in":"query","description":"The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"before","in":"query","description":null,"required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"limit","in":"query","description":"The maximum number of results to return. Default is 100.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/CollectionResponseWithTotalVersionPage","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"put":null,"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/site-pages/batch/update":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Site Pages"],"summary":"Update a batch of Site Pages","description":"Update the Site Page objects identified in the request body.","externalDocs":null,"operationId":"post-/cms/v3/pages/site-pages/batch/update","parameters":[{"name":"archived","in":"query","description":"Specifies whether to update deleted Site Pages. Defaults to `false`.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":"The JSON representation of the updated Site Pages.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchInputJsonNode","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchResponsePage","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"207":{"description":"multiple statuses","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchResponsePageWithErrors","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"private_apps_legacy":["cms.pages.site_pages.read_write"]},{"private_apps_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"oauth2_legacy":["cms.pages.site_pages.read_write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages/folders/{objectId}/revisions":{"summary":null,"description":null,"get":{"tags":["Landing Pages"],"summary":"Retrieves all the previous versions of a Folder","description":"Retrieves all the previous versions of a Folder.","externalDocs":null,"operationId":"get-/cms/v3/pages/landing-pages/folders/{objectId}/revisions","parameters":[{"name":"objectId","in":"path","description":"The Folder id.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"after","in":"query","description":"The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"before","in":"query","description":null,"required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"limit","in":"query","description":"The maximum number of results to return. Default is 100.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/CollectionResponseWithTotalVersionContentFolder","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"put":null,"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Site Pages"],"summary":"Restore a previous version of a Site Page","description":"Takes a specified version of a Site Page and restores it.","externalDocs":null,"operationId":"post-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore","parameters":[{"name":"objectId","in":"path","description":"The Site Page id.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"revisionId","in":"path","description":"The Site Page version id to restore.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/Page","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"private_apps_legacy":["cms.pages.site_pages.read_write"]},{"private_apps_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"oauth2_legacy":["cms.pages.site_pages.read_write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/site-pages/schedule":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Site Pages"],"summary":"Schedule a Site Page to be Published","description":"Schedule a Site Page to be Published","externalDocs":null,"operationId":"post-/cms/v3/pages/site-pages/schedule","parameters":[],"requestBody":{"description":"The JSON representation of the ContentScheduleRequestVNext object.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ContentScheduleRequestVNext","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"204":{"description":"No content","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"private_apps_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["content"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/site-pages/multi-language/attach-to-lang-group":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Site Pages"],"summary":"Attach a site page to a multi-language group","description":"Attach a site page to a multi-language group.","externalDocs":null,"operationId":"post-/cms/v3/pages/site-pages/multi-language/attach-to-lang-group","parameters":[],"requestBody":{"description":"The JSON representation of the AttachToLangPrimaryRequest object.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/AttachToLangPrimaryRequestVNext","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"},"200":{"description":"successful operation","headers":null,"content":{},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["content"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages/folders":{"summary":null,"description":null,"get":{"tags":["Landing Pages"],"summary":"Get all Landing Page Folders","description":"Get the list of Landing Page Folders. Supports paging and filtering. This method would be useful for an integration that examined these models and used an external service to suggest edits.\n","externalDocs":null,"operationId":"get-/cms/v3/pages/landing-pages/folders","parameters":[{"name":"createdAt","in":"query","description":"Only return Folders created at exactly the specified time.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"createdAfter","in":"query","description":"Only return Folders created after the specified time.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"createdBefore","in":"query","description":"Only return Folders created before the specified time.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"updatedAt","in":"query","description":"Only return Folders last updated at exactly the specified time.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"updatedAfter","in":"query","description":"Only return Folders last updated after the specified time.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"updatedBefore","in":"query","description":"Only return Folders last updated before the specified time.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"sort","in":"query","description":"Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"after","in":"query","description":"The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"limit","in":"query","description":"The maximum number of results to return. Default is 100.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"archived","in":"query","description":"Specifies whether to return deleted Folders. Defaults to `false`.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"property","in":"query","description":null,"required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/CollectionResponseWithTotalContentFolderForwardPaging","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"put":null,"post":{"tags":["Landing Pages"],"summary":"Create a new Folder","description":"Create a new Folder","externalDocs":null,"operationId":"post-/cms/v3/pages/landing-pages/folders","parameters":[],"requestBody":{"description":"The JSON representation of a new Folder.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ContentFolder","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"201":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ContentFolder","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/site-pages/multi-language/detach-from-lang-group":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Site Pages"],"summary":"Detach a site page from a multi-language group","description":"Detach a site page from a multi-language group.","externalDocs":null,"operationId":"post-/cms/v3/pages/site-pages/multi-language/detach-from-lang-group","parameters":[],"requestBody":{"description":"The JSON representation of the DetachFromLangGroupRequest object.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/DetachFromLangGroupRequestVNext","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"},"200":{"description":"successful operation","headers":null,"content":{},"links":null,"extensions":null,"$ref":null}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["content"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages/folders/batch/create":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Landing Pages"],"summary":"Create a batch of Folders","description":"Create the Folder objects detailed in the request body.","externalDocs":null,"operationId":"post-/cms/v3/pages/landing-pages/folders/batch/create","parameters":[],"requestBody":{"description":"The JSON array of new Folders to create.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchInputContentFolder","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"201":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchResponseContentFolder","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"207":{"description":"multiple statuses","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchResponseContentFolderWithErrors","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/site-pages/{objectId}/revisions":{"summary":null,"description":null,"get":{"tags":["Site Pages"],"summary":"Retrieves all the previous versions of a Site Page","description":"Retrieves all the previous versions of a Site Page.","externalDocs":null,"operationId":"get-/cms/v3/pages/site-pages/{objectId}/revisions","parameters":[{"name":"objectId","in":"path","description":"The Site Page id.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"after","in":"query","description":"The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"before","in":"query","description":null,"required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"limit","in":"query","description":"The maximum number of results to return. Default is 100.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/CollectionResponseWithTotalVersionPage","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"private_apps_legacy":["cms.pages.site_pages.read_write"]},{"private_apps_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"oauth2_legacy":["cms.pages.site_pages.read_write"]}],"servers":null,"extensions":null},"put":null,"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages/{objectId}/draft":{"summary":null,"description":null,"get":{"tags":["Landing Pages"],"summary":"Retrieve the full draft version of the Landing Page","description":"Retrieve the full draft version of the Landing Page.","externalDocs":null,"operationId":"get-/cms/v3/pages/landing-pages/{objectId}/draft","parameters":[{"name":"objectId","in":"path","description":"The Landing Page id.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/Page","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"put":null,"post":null,"delete":null,"options":null,"head":null,"patch":{"tags":["Landing Pages"],"summary":"Update a Landing Page draft","description":"Sparse updates the draft version of a single Landing Page object identified by the id in the path.\nYou only need to specify the column values that you are modifying.\n","externalDocs":null,"operationId":"patch-/cms/v3/pages/landing-pages/{objectId}/draft","parameters":[{"name":"objectId","in":"path","description":"The Landing Page id.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":"The JSON representation of the updated Landing Page to be applied to the draft.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/Page","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/Page","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages":{"summary":null,"description":null,"get":{"tags":["Landing Pages"],"summary":"Get all Landing Pages","description":"Get the list of landing pages. Supports paging and filtering. This method would be useful for an integration that examined these models and used an external service to suggest edits.\n","externalDocs":null,"operationId":"get-/cms/v3/pages/landing-pages","parameters":[{"name":"createdAt","in":"query","description":"Only return Landing Pages created at exactly the specified time.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"createdAfter","in":"query","description":"Only return Landing Pages created after the specified time.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"createdBefore","in":"query","description":"Only return Landing Pages created before the specified time.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"updatedAt","in":"query","description":"Only return Landing Pages last updated at exactly the specified time.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"updatedAfter","in":"query","description":"Only return Landing Pages last updated after the specified time.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"updatedBefore","in":"query","description":"Only return Landing Pages last updated before the specified time.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"sort","in":"query","description":"Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"after","in":"query","description":"The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"limit","in":"query","description":"The maximum number of results to return. Default is 100.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"archived","in":"query","description":"Specifies whether to return deleted Landing Pages. Defaults to `false`.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"property","in":"query","description":null,"required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/CollectionResponseWithTotalPageForwardPaging","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"put":null,"post":{"tags":["Landing Pages"],"summary":"new summary","description":"Create a new Landing Page","externalDocs":null,"operationId":"post-/cms/v3/pages/landing-pages","parameters":[],"requestBody":{"description":"The JSON representation of a new Landing Page.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/Page","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"201":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/Page","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"200":{"description":"successful operation","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Site Pages"],"summary":"Restore a previous version of a Site Page, to the draft version of the Site Page","description":"Takes a specified version of a Site Page, sets it as the new draft version of the Site Page.","externalDocs":null,"operationId":"post-/cms/v3/pages/site-pages/{objectId}/revisions/{revisionId}/restore-to-draft","parameters":[{"name":"objectId","in":"path","description":"The Site Page id.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"revisionId","in":"path","description":"The Site Page version id to restore.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int64","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/Page","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"private_apps_legacy":["cms.pages.site_pages.read_write"]},{"private_apps_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"oauth2_legacy":["cms.pages.site_pages.read_write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/site-pages/ab-test/end":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Site Pages"],"summary":"End an active A/B test","description":"End an active A/B test and designate a winner.","externalDocs":null,"operationId":"post-/cms/v3/pages/site-pages/ab-test/end","parameters":[],"requestBody":{"description":"The JSON representation of the AbTestEndRequest object.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/AbTestEndRequestVNext","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"204":{"description":"No content","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"private_apps_legacy":["cms.pages.site_pages.read_write"]},{"private_apps_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.site_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"oauth2_legacy":["cms.pages.site_pages.read_write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages/batch/create":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Landing Pages"],"summary":"Create a batch of Landing Pages","description":"Create the Landing Page objects detailed in the request body.","externalDocs":null,"operationId":"post-/cms/v3/pages/landing-pages/batch/create","parameters":[],"requestBody":{"description":"The JSON array of new Landing Pages to create.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchInputPage","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"201":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchResponsePage","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"207":{"description":"multiple statuses","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchResponsePageWithErrors","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages/batch/update":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Landing Pages"],"summary":"Update a batch of Landing Pages","description":"Update the Landing Page objects identified in the request body.","externalDocs":null,"operationId":"post-/cms/v3/pages/landing-pages/batch/update","parameters":[{"name":"archived","in":"query","description":"Specifies whether to update deleted Landing Pages. Defaults to `false`.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":"The JSON representation of the updated Landing Pages.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchInputJsonNode","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchResponsePage","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"207":{"description":"multiple statuses","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchResponsePageWithErrors","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages/batch/read":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Landing Pages"],"summary":"Retrieve a batch of Landing Pages","description":"Retrieve the Landing Page objects identified in the request body.","externalDocs":null,"operationId":"post-/cms/v3/pages/landing-pages/batch/read","parameters":[{"name":"archived","in":"query","description":"Specifies whether to return deleted Landing Pages. Defaults to `false`.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":"The JSON array of Landing Page ids.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchInputString","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchResponsePage","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"207":{"description":"multiple statuses","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchResponsePageWithErrors","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages/clone":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Landing Pages"],"summary":"Clone a Landing Page","description":"Clone a Landing Page","externalDocs":null,"operationId":"post-/cms/v3/pages/landing-pages/clone","parameters":[],"requestBody":{"description":"The JSON representation of the ContentCloneRequest object.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ContentCloneRequestVNext","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/Page","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}/restore":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Landing Pages"],"summary":"Restore a previous version of a Folder","description":"Takes a specified version of a Folder and restores it.","externalDocs":null,"operationId":"post-/cms/v3/pages/landing-pages/folders/{objectId}/revisions/{revisionId}/restore","parameters":[{"name":"objectId","in":"path","description":"The Folder id.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"revisionId","in":"path","description":"The Folder version id to restore.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ContentFolder","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["cms.pages.landing_pages.read_write"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write_publish"]},{"oauth2_legacy":["content"]},{"private_apps_legacy":["cms.pages.landing_pages.read_write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages/multi-language/set-new-lang-primary":{"summary":null,"description":null,"get":null,"put":{"tags":["Landing Pages"],"summary":"Set a new primary language","description":"Set a landing page as the primary language of a multi-language group.","externalDocs":null,"operationId":"put-/cms/v3/pages/landing-pages/multi-language/set-new-lang-primary","parameters":[],"requestBody":{"description":"The JSON representation of the SetNewLanguagePrimaryRequest object.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SetNewLanguagePrimaryRequestVNext","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"204":{"description":"No content","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["content"]},{"oauth2_legacy":["content"]}],"servers":null,"extensions":null},"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Landing Pages"],"summary":"Restore a previous version of a Landing Page","description":"Takes a specified version of a Landing Page and restores it.","externalDocs":null,"operationId":"post-/cms/v3/pages/landing-pages/{objectId}/revisions/{revisionId}/restore","parameters":[{"name":"objectId","in":"path","description":"The Landing Page id.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"revisionId","in":"path","description":"The Landing Page version id to restore.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum
[...]
