{"openapi":"3.0.1","info":{"title":"Webhooks API","description":"Provides a way for apps to subscribe to certain change events in HubSpot. Once configured, apps will receive event payloads containing details about the changes at a specified target URL. There can only be one target URL for receiving event notifications per app.","termsOfService":null,"contact":null,"license":null,"version":"v3","extensions":null},"externalDocs":null,"servers":[{"url":"https://api.hubapiqa.com","description":null,"variables":null,"extensions":null}],"security":null,"tags":[{"name":"Settings","description":null,"externalDocs":null,"extensions":null},{"name":"Subscriptions","description":null,"externalDocs":null,"extensions":null}],"paths":{"/webhooks/v3/{appId}/settings":{"summary":null,"description":null,"get":{"tags":["Settings"],"summary":null,"description":null,"externalDocs":null,"operationId":"get-/webhooks/v3/{appId}/settings","parameters":[{"name":"appId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SettingsResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"put":{"tags":["Settings"],"summary":null,"description":null,"externalDocs":null,"operationId":"put-/webhooks/v3/{appId}/settings","parameters":[{"name":"appId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SettingsChangeRequest","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SettingsResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"post":null,"delete":{"tags":["Settings"],"summary":null,"description":null,"externalDocs":null,"operationId":"delete-/webhooks/v3/{appId}/settings","parameters":[{"name":"appId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"204":{"description":"No content","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/webhooks/v3/{appId}/subscriptions/{subscriptionId}":{"summary":null,"description":null,"get":{"tags":["Subscriptions"],"summary":null,"description":null,"externalDocs":null,"operationId":"get-/webhooks/v3/{appId}/subscriptions/{subscriptionId}","parameters":[{"name":"subscriptionId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"appId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SubscriptionResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"put":null,"post":null,"delete":{"tags":["Subscriptions"],"summary":null,"description":null,"externalDocs":null,"operationId":"delete-/webhooks/v3/{appId}/subscriptions/{subscriptionId}","parameters":[{"name":"subscriptionId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"appId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"204":{"description":"No content","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"options":null,"head":null,"patch":{"tags":["Subscriptions"],"summary":null,"description":null,"externalDocs":null,"operationId":"patch-/webhooks/v3/{appId}/subscriptions/{subscriptionId}","parameters":[{"name":"subscriptionId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"appId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SubscriptionPatchRequest","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SubscriptionResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/webhooks/v3/{appId}/subscriptions":{"summary":null,"description":null,"get":{"tags":["Subscriptions"],"summary":null,"description":null,"externalDocs":null,"operationId":"get-/webhooks/v3/{appId}/subscriptions","parameters":[{"name":"appId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SubscriptionListResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"put":null,"post":{"tags":["Subscriptions"],"summary":null,"description":null,"externalDocs":null,"operationId":"post-/webhooks/v3/{appId}/subscriptions","parameters":[{"name":"appId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SubscriptionCreateRequest","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"201":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SubscriptionResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/webhooks/v3/{appId}/subscriptions/batch/update":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Subscriptions"],"summary":null,"description":null,"externalDocs":null,"operationId":"post-/webhooks/v3/{appId}/subscriptions/batch/update","parameters":[{"name":"appId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchInputSubscriptionBatchUpdateRequest","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchResponseSubscriptionResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"207":{"description":"multiple statuses","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/BatchResponseSubscriptionResponseWithErrors","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null}},"components":{"schemas":{"ThrottlingSettings":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["maxConcurrentRequests","period"],"type":"object","not":null,"properties":{"maxConcurrentRequests":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":"The maximum number of HTTP requests HubSpot will attempt to make to your app in a given time frame determined by `period`.","format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"period":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"Time scale for this setting. Can be either `SECONDLY` (per second) or `ROLLING_MINUTE` (per minute).","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":["SECONDLY","ROLLING_MINUTE"]}},"additionalProperties":null,"description":"Configuration details for webhook throttling.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"StandardError":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["category","context","errors","links","message","status"],"type":"object","not":null,"properties":{"status":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"id":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"category":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"subCategory":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":{},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"message":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"errors":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ErrorDetail","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"context":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"links":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"BatchResponseSubscriptionResponse":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["completedAt","results","startedAt","status"],"type":"object","not":null,"properties":{"status":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":["PENDING","PROCESSING","CANCELED","COMPLETE"]},"results":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SubscriptionResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"requestedAt":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"startedAt":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"completedAt":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"links":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"SubscriptionListResponse":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["results"],"type":"object","not":null,"properties":{"results":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":"List of event subscriptions for your app","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SubscriptionResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null}},"additionalProperties":null,"description":"List of event subscriptions for your app","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"SettingsChangeRequest":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["targetUrl","throttling"],"type":"object","not":null,"properties":{"targetUrl":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A publicly available URL for Hubspot to call where event payloads will be delivered. See [link-so-some-doc](#) for details about the format of these event payloads.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"throttling":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ThrottlingSettings","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":"New or updated webhook settings for an app.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"targetUrl":"https://www.example.com/hubspot/target","throttling":{"maxConcurrentRequests":10,"period":"SECONDLY"}},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"Error":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["category","correlationId","message"],"type":"object","not":null,"properties":{"message":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A human readable message describing the error along with remediation steps where appropriate","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":"An error occurred","externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"correlationId":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A unique identifier for the request. Include this value with any error reports or support tickets","format":"uuid","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":"aeb5f871-7f07-4993-9211-075dc63e7cbf","externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"category":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The error category","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"subCategory":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A specific category that contains more specific detail about the error","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"errors":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":"further information about the error","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ErrorDetail","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"context":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"description":"Context about the error condition","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"invalidPropertyName":["propertyValue"],"missingScopes":["scope1","scope2"]},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"links":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"description":"A map of link names to associated URIs containing documentation about the error or recommended remediation steps","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"message":"Invalid input (details will vary based on the error)","correlationId":"aeb5f871-7f07-4993-9211-075dc63e7cbf","category":"VALIDATION_ERROR","links":{"knowledge-base":"https://www.hubspot.com/products/service/knowledge-base"}},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"SubscriptionPatchRequest":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":{"active":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":"Determines if the subscription is active or paused.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":"Updated details for the subscription.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"active":true},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"BatchResponseSubscriptionResponseWithErrors":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["completedAt","results","startedAt","status"],"type":"object","not":null,"properties":{"status":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":["PENDING","PROCESSING","CANCELED","COMPLETE"]},"results":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SubscriptionResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"numErrors":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"errors":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/StandardError","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"requestedAt":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"startedAt":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"completedAt":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"links":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"ErrorDetail":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["message"],"type":"object","not":null,"properties":{"message":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A human readable message describing the error along with remediation steps where appropriate","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"in":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The name of the field or parameter in which the error was found.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"code":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The status code associated with the error detail","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"subCategory":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A specific category that contains more specific detail about the error","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"context":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"description":"Context about the error condition","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"missingScopes":["scope1","scope2"]},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"SettingsResponse":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["createdAt","targetUrl","throttling"],"type":"object","not":null,"properties":{"targetUrl":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A publicly available URL for Hubspot to call where event payloads will be delivered. See [link-so-some-doc](#) for details about the format of these event payloads.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"throttling":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ThrottlingSettings","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"createdAt":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"When this subscription was created. Formatted as milliseconds from the [Unix epoch](#).","format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"updatedAt":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"When this subscription was last updated. Formatted as milliseconds from the [Unix epoch](#).","format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":"Webhook settings for an app.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"targetUrl":"https://www.example.com/hubspot/target","throttling":{"maxConcurrentRequests":10,"period":"SECONDLY"},"createdAt":"2020-01-24T16:27:59Z","updatedAt":"2020-01-24T16:32:43Z"},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"BatchInputSubscriptionBatchUpdateRequest":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["inputs"],"type":"object","not":null,"properties":{"inputs":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SubscriptionBatchUpdateRequest","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"SubscriptionResponse":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["active","createdAt","eventType","id"],"type":"object","not":null,"properties":{"eventType":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"Type of event to listen for. Can be one of `create`, `delete`, `deletedForPrivacy`, or `propertyChange`.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":["contact.propertyChange","company.propertyChange","deal.propertyChange","ticket.propertyChange","product.propertyChange","line_item.propertyChange","contact.creation","contact.deletion","contact.privacyDeletion","company.creation","company.deletion","deal.creation","deal.deletion","ticket.creation","ticket.deletion","product.creation","product.deletion","line_item.creation","line_item.deletion","conversation.creation","conversation.deletion","conversation.newMessage","conversation.privacyDeletion","conversation.propertyChange","contact.merge","company.merge","deal.merge","ticket.merge","product.merge","line_item.merge","contact.restore","company.restore","deal.restore","ticket.restore","product.restore","line_item.restore","contact.associationChange","company.associationChange","deal.associationChange","ticket.associationChange","line_item.associationChange"]},"propertyName":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The internal name of the property being monitored for changes. Only applies when `eventType` is `propertyChange`.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"active":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":"Determines if the subscription is active or paused.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"id":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The unique ID of the subscription.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"createdAt":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"When this subscription was created. Formatted as milliseconds from the [Unix epoch](#).","format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"updatedAt":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"When this subscription was last updated. Formatted as milliseconds from the [Unix epoch](#).","format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":"Complete details for an event subscription.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"SubscriptionBatchUpdateRequest":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["active","id"],"type":"object","not":null,"properties":{"id":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"active":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"SubscriptionCreateRequest":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["eventType"],"type":"object","not":null,"properties":{"eventType":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"Type of event to listen for. Can be one of `create`, `delete`, `deletedForPrivacy`, or `propertyChange`.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":["contact.propertyChange","company.propertyChange","deal.propertyChange","ticket.propertyChange","product.propertyChange","line_item.propertyChange","contact.creation","contact.deletion","contact.privacyDeletion","company.creation","company.deletion","deal.creation","deal.deletion","ticket.creation","ticket.deletion","product.creation","product.deletion","line_item.creation","line_item.deletion","conversation.creation","conversation.deletion","conversation.newMessage","conversation.privacyDeletion","conversation.propertyChange","contact.merge","company.merge","deal.merge","ticket.merge","product.merge","line_item.merge","contact.restore","company.restore","deal.restore","ticket.restore","product.restore","line_item.restore","contact.associationChange","company.associationChange","deal.associationChange","ticket.associationChange","line_item.associationChange"]},"propertyName":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The internal name of the property to monitor for changes. Only applies when `eventType` is `propertyChange`.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"active":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":"Determines if the subscription is active or paused. Defaults to false.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":"New webhook settings for an app.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"active":true,"eventType":"contact.propertyChange","propertyName":"email"},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"responses":{"Error":{"description":"An error occurred.","headers":null,"content":{"*/*":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/Error","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null}},"parameters":null,"examples":null,"requestBodies":null,"headers":null,"securitySchemes":{"developer_hapikey":{"type":"APIKEY","description":null,"name":"hapikey","$ref":null,"in":"QUERY","scheme":null,"bearerFormat":null,"flows":null,"openIdConnectUrl":null,"extensions":null}},"links":null,"callbacks":null,"extensions":{}},"extensions":null}