{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Visitor Identification",
    "description" : "The Visitor Identification API allows you to pass identification information to the HubSpot chat widget for otherwise unknown visitors that were verified by your own authentication system.",
    "termsOfService" : null,
    "contact" : null,
    "license" : null,
    "version" : "v3",
    "extensions" : null
  },
  "externalDocs" : null,
  "servers" : [ {
    "url" : "https://api.hubapiqa.com",
    "description" : null,
    "variables" : null,
    "extensions" : null
  } ],
  "security" : null,
  "tags" : [ {
    "name" : "Generate",
    "description" : null,
    "externalDocs" : null,
    "extensions" : null
  } ],
  "paths" : {
    "/conversations/v3/visitor-identification/tokens/create" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : {
        "tags" : [ "Generate" ],
        "summary" : "Generate a token",
        "description" : "Generates a new visitor identification token. This token will be unique every time this endpoint is called, even if called with the same email address. This token is temporary and will expire after 12 hours",
        "externalDocs" : null,
        "operationId" : "post-/visitor-identification/v3/tokens/create",
        "parameters" : null,
        "requestBody" : {
          "description" : null,
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/IdentificationTokenGenerationRequest",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/IdentificationTokenResponse",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2_legacy" : [ "conversations.visitor_identification.tokens.create" ]
        }, {
          "private_apps_legacy" : [ "conversations.visitor_identification.tokens.create" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "message" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "message" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "in" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The name of the field or parameter in which the error was found.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "code" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The status code associated with the error detail",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "subCategory" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A specific category that contains more specific detail about the error",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "context" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "object",
            "not" : null,
            "properties" : null,
            "additionalProperties" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "array",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "items" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : "string",
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : null,
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "default" : null,
              "enum" : null
            },
            "description" : "Context about the error condition",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            },
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : null,
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : null,
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "Error" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "message" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : "An error occurred",
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "correlationId" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "category" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The error category",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "subCategory" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A specific category that contains more specific detail about the error",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "errors" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "further information about the error",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : "#/components/schemas/ErrorDetail",
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "context" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "object",
            "not" : null,
            "properties" : null,
            "additionalProperties" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "array",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "items" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : "string",
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : null,
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "default" : null,
              "enum" : null
            },
            "description" : "Context about the error condition",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : {
              "invalidPropertyName" : [ "propertyValue" ],
              "missingScopes" : [ "scope1", "scope2" ]
            },
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "links" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "object",
            "not" : null,
            "properties" : null,
            "additionalProperties" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : null,
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        },
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "IdentificationTokenResponse" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "token" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "token" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : "The identification token to be passed to the Conversations JS API to identify the visitor",
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : {
          "token" : "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
        },
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "IdentificationTokenGenerationRequest" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "email" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "email" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The email of the visitor that you wish to identify",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "firstName" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The first name of the visitor that you wish to identify. This value will only be set in HubSpot for new contacts and existing contacts where first name is unknown. Optional.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "lastName" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The last name of the visitor that you wish to identify. This value will only be set in HubSpot for new contacts and existing contacts where last name is unknown. Optional.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : "Information used to generate a token",
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : {
          "email" : "visitor-email@example.com",
          "firstName" : "Gob",
          "lastName" : "Bluth"
        },
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "headers" : null,
        "content" : {
          "*/*" : {
            "schema" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : "#/components/schemas/Error",
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "examples" : null,
            "example" : null,
            "encoding" : null,
            "extensions" : null
          }
        },
        "links" : null,
        "extensions" : null,
        "$ref" : null
      }
    },
    "parameters" : null,
    "examples" : null,
    "requestBodies" : null,
    "headers" : null,
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "OAUTH2",
        "description" : null,
        "name" : null,
        "$ref" : null,
        "in" : null,
        "scheme" : null,
        "bearerFormat" : null,
        "flows" : {
          "implicit" : null,
          "password" : null,
          "clientCredentials" : null,
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "refreshUrl" : null,
            "scopes" : {
              "conversations.visitor_identification.tokens.create" : "Fetch identification tokens for authenticated website visitors interacting with the HubSpot chat widget"
            },
            "extensions" : null
          },
          "extensions" : null
        },
        "openIdConnectUrl" : null,
        "extensions" : null
      },
      "private_apps_legacy" : {
        "type" : "APIKEY",
        "description" : null,
        "name" : "private-app-legacy",
        "$ref" : null,
        "in" : "HEADER",
        "scheme" : null,
        "bearerFormat" : null,
        "flows" : null,
        "openIdConnectUrl" : null,
        "extensions" : null
      }
    },
    "links" : null,
    "callbacks" : null,
    "extensions" : { }
  },
  "extensions" : null
}