{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Business Unit",
    "description" : "Retrieve Business Unit information.",
    "termsOfService" : null,
    "contact" : null,
    "license" : null,
    "version" : "v3",
    "extensions" : null
  },
  "externalDocs" : null,
  "servers" : [ {
    "url" : "https://api.hubapiqa.com",
    "description" : null,
    "variables" : null,
    "extensions" : null
  } ],
  "security" : null,
  "tags" : [ {
    "name" : "Business Unit",
    "description" : null,
    "externalDocs" : null,
    "extensions" : null
  } ],
  "paths" : {
    "/business-units/v3/business-units/user/{userId}" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Business Unit" ],
        "summary" : "Get Business Units for a user",
        "description" : "Get Business Units identified by `userId`. The `userId` refers to the user’s ID.",
        "externalDocs" : null,
        "operationId" : "get-/business-units/v3/business-units/user/{userId}",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifier of user to retrieve.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "The names of properties to optionally include in the response body. The only valid value is `logoMetadata`.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "The names of Business Units to retrieve. If empty or not provided, then all associated Business Units will be returned.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/CollectionResponsePublicBusinessUnitNoPaging",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "business_units_view.read" ]
        }, {
          "oauth2_legacy" : [ "business_units_view.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : null,
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    }
  },
  "components" : {
    "schemas" : {
      "ErrorDetail" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "message" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "message" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "in" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The name of the field or parameter in which the error was found.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "code" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The status code associated with the error detail",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "subCategory" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A specific category that contains more specific detail about the error",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "context" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "object",
            "not" : null,
            "properties" : null,
            "additionalProperties" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "array",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "items" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : "string",
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : null,
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "default" : null,
              "enum" : null
            },
            "description" : "Context about the error condition",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            },
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : null,
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : null,
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "Error" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "message" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : "An error occurred",
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "correlationId" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "category" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The error category",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "subCategory" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A specific category that contains more specific detail about the error",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "errors" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "further information about the error",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : "#/components/schemas/ErrorDetail",
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "context" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "object",
            "not" : null,
            "properties" : null,
            "additionalProperties" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "array",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "items" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : "string",
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : null,
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "default" : null,
              "enum" : null
            },
            "description" : "Context about the error condition",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : {
              "invalidPropertyName" : [ "propertyValue" ],
              "missingScopes" : [ "scope1", "scope2" ]
            },
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "links" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "object",
            "not" : null,
            "properties" : null,
            "additionalProperties" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : null,
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        },
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "PublicBusinessUnit" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "id", "name" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "id" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The Business Unit's unique ID",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "name" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The Business Unit's name",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "logoMetadata" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : null,
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : "#/components/schemas/PublicBusinessUnitLogoMetadata",
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : "A Business Unit",
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : {
          "logoMetadata" : {
            "logoAltText" : "logo sample text",
            "resizedUrl" : "sillystring",
            "logoUrl" : "examplelogourl.com"
          },
          "name" : "sample business unit name",
          "id" : "101"
        },
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "PublicBusinessUnitLogoMetadata" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : null,
        "type" : "object",
        "not" : null,
        "properties" : {
          "logoUrl" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The logo's url",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "logoAltText" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The logo's alt text",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "resizedUrl" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The logo's resized url",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : "A Business Unit's logo metadata",
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : {
          "logoAltText" : "logo sample text",
          "resizedUrl" : "sillystring",
          "logoUrl" : "examplelogourl.com"
        },
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "CollectionResponsePublicBusinessUnitNoPaging" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "results" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "results" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The collection of Business Units",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : "#/components/schemas/PublicBusinessUnit",
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : "A response object containing a collection of Business Units",
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : null,
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "headers" : null,
        "content" : {
          "*/*" : {
            "schema" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : "#/components/schemas/Error",
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "examples" : null,
            "example" : null,
            "encoding" : null,
            "extensions" : null
          }
        },
        "links" : null,
        "extensions" : null,
        "$ref" : null
      }
    },
    "parameters" : null,
    "examples" : null,
    "requestBodies" : null,
    "headers" : null,
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "OAUTH2",
        "description" : null,
        "name" : null,
        "$ref" : null,
        "in" : null,
        "scheme" : null,
        "bearerFormat" : null,
        "flows" : {
          "implicit" : null,
          "password" : null,
          "clientCredentials" : null,
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "refreshUrl" : null,
            "scopes" : {
              "business_units_view.read" : "Read business unit resources"
            },
            "extensions" : null
          },
          "extensions" : null
        },
        "openIdConnectUrl" : null,
        "extensions" : null
      },
      "private_apps_legacy" : {
        "type" : "APIKEY",
        "description" : null,
        "name" : "private-app-legacy",
        "$ref" : null,
        "in" : "HEADER",
        "scheme" : null,
        "bearerFormat" : null,
        "flows" : null,
        "openIdConnectUrl" : null,
        "extensions" : null
      }
    },
    "links" : null,
    "callbacks" : null,
    "extensions" : { }
  },
  "extensions" : null
}