{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Conversations",
    "description" : "Query and interact with existing Conversation threads, messages, and channels",
    "termsOfService" : null,
    "contact" : null,
    "license" : null,
    "version" : "v3",
    "extensions" : null
  },
  "externalDocs" : null,
  "servers" : [ {
    "url" : "https://api.hubapiqa.com",
    "description" : null,
    "variables" : null,
    "extensions" : null
  } ],
  "security" : null,
  "tags" : [ {
    "name" : "Conversations",
    "description" : null,
    "externalDocs" : null,
    "extensions" : null
  } ],
  "paths" : {
    "/conversations/v3/conversations/inboxes" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get conversations inboxes.",
        "description" : null,
        "externalDocs" : null,
        "operationId" : "get-/conversations/v3/conversations/inboxes",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int32",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int32",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicInboxForwardPaging",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "total" : 2,
                  "results" : [ {
                    "id" : "5385",
                    "name" : "Inbox",
                    "createdAt" : "2019-03-07T16:32:23.443Z"
                  }, {
                    "id" : "5548",
                    "name" : "Sales Inbox",
                    "createdAt" : "2019-03-13T18:41:01.209Z"
                  } ]
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : null,
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/conversations/v3/conversations/threads/{threadId}" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get a single thread.",
        "description" : "Returns a single thread.",
        "externalDocs" : null,
        "operationId" : "get-/conversations/v3/conversations/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived. Default is false.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "boolean",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "property",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/PublicThread",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : null,
      "delete" : {
        "tags" : [ "Conversations" ],
        "summary" : "Archives a thread.",
        "description" : "Archives a single thread. The thread will be permanently deleted 30 days after placed in an archived state.",
        "externalDocs" : null,
        "operationId" : "delete-/conversations/v3/conversations/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int64",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "204" : {
            "description" : "No content",
            "headers" : null,
            "content" : { },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "conversations.write" ]
        }, {
          "oauth2_legacy" : [ "conversations.write" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "options" : null,
      "head" : null,
      "patch" : {
        "tags" : [ "Conversations" ],
        "summary" : "Update a thread.",
        "description" : "Updates a single thread. Either a thread's status can be updated, or the thread can be restored.",
        "externalDocs" : null,
        "operationId" : "patch-/conversations/v3/conversations/threads/{threadId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int64",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether the thread to update is archived. Default is false. A thread's status property can not be updated if the thread is archived.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "boolean",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : {
          "description" : "The properties of the thread to update. If restoring a thread, the archived property should be the only field in the request body. For other updates, PATCH requests should exclude the archived property from the body of the request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/PublicThreadUpdateRequest",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/PublicThread",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "id" : "2627121",
                  "createdAt" : "2018-08-21T12:06:22.029Z",
                  "status" : "CLOSED",
                  "latestMessageTimestamp" : "2018-08-21T12:06:22.889Z",
                  "latestMessageSentTimestamp" : "2018-08-21T12:06:22.889Z",
                  "latestMessageReceivedTimestamp" : "2018-08-21T12:06:22.889Z",
                  "assignedTo" : "A-123",
                  "spam" : false,
                  "inboxId" : "123",
                  "associatedContactId" : "7206",
                  "archived" : false
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "conversations.write" ]
        }, {
          "oauth2_legacy" : [ "conversations.write" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/conversations/v3/conversations/threads/{threadId}/messages/{messageId}/original-content" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get the original content of a single message.",
        "description" : "Returns the complete original text and rich text bodies of a message. This will be different from the text and rich text in the message itself if the message's `truncationStatus` is anything other than `NOT_TRUNCATED`.",
        "externalDocs" : null,
        "operationId" : "get-/conversations/v3/conversations/threads/{threadId}/messages/{messageId}/original-content",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int64",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "The unique ID of the message.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "property",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/PublicMessageContent",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "text" : "How can I help?",
                  "richText" : "<div style=\"text-align: left\">How can I help?</div>"
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : null,
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/conversations/v3/conversations/threads/{threadId}/messages" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get message history for a thread.",
        "description" : null,
        "externalDocs" : null,
        "operationId" : "get-/conversations/v3/conversations/threads/{threadId}/messages",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int64",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int32",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort direction. Valid options are `createdAt` (ascending), and `-createdAt` (descending, default)",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "boolean",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "property",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/CollectionResponsePublicMessageForwardPaging",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "results" : [ {
                    "id" : "07ce9e83-7315-4a06-9971-78b7038e640e",
                    "createdAt" : "2020-06-26T18:20:00.710Z",
                    "createdBy" : "A-123",
                    "client" : {
                      "clientType" : "SYSTEM"
                    },
                    "archived" : false,
                    "assignedTo" : "A-123",
                    "assignedFrom" : "B-987",
                    "type" : "ASSIGNMENT"
                  }, {
                    "id" : "341c52ddfecc41b6a026dc689c3ff673",
                    "createdAt" : "2020-06-26T18:20:00.722Z",
                    "createdBy" : "A-123",
                    "client" : {
                      "clientType" : "HUBSPOT"
                    },
                    "channelId" : "1000",
                    "channelAccountId" : "20091",
                    "archived" : false,
                    "status" : {
                      "statusType" : "SENT"
                    },
                    "text" : "How can I help?",
                    "richText" : "<div style=\"text-align: left\">How can I help?</div>",
                    "inReplyToId" : "23kj5a45-9845-1d08-3048-23q2345u320i",
                    "direction" : "OUTGOING",
                    "truncationStatus" : "NOT_TRUNCATED",
                    "type" : "MESSAGE"
                  }, {
                    "id" : "e11540ef-d041-4585-a53d-fd5cad3af294",
                    "createdAt" : "2020-06-26T18:20:00.799Z",
                    "createdBy" : "I-999",
                    "client" : {
                      "clientType" : "INTEGRATION",
                      "integrationAppId" : "999"
                    },
                    "archived" : false,
                    "text" : "Customer since 2012",
                    "richText" : "<div style=\"text-align: left\">Customer since 2012</div>",
                    "type" : "COMMENT"
                  } ],
                  "paging" : {
                    "next" : {
                      "after" : "MTU5MzE5NTU3NjkyMy0w",
                      "link" : "https://api.hubspot.com/conversations/v3/conversations/threads/123/messages?portalId=123&after=MTU5MzE5NTU3NjkyMy0w"
                    }
                  }
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : {
        "tags" : [ "Conversations" ],
        "summary" : "Send a message to a thread.",
        "description" : "Send a new message on a thread at the current timestamp.",
        "externalDocs" : null,
        "operationId" : "post-/conversations/v3/conversations/threads/{threadId}/messages",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int64",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : {
          "description" : "The message. `MESSAGE` and `COMMENT` are the valid types of message. Other message types are side-effects of other operations, such as changing a thread's status.",
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/PublicMessageEgg",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/PublicMessage",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "200" : {
            "description" : null,
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : null,
                "examples" : null,
                "example" : {
                  "id" : "e11540ef-d041-4585-a53d-fd5cad3af294",
                  "createdAt" : "2020-06-26T18:20:00.722Z",
                  "createdBy" : "I-999",
                  "client" : {
                    "clientType" : "INTEGRATION",
                    "integrationAppId" : "999"
                  },
                  "archived" : false,
                  "text" : "Customer since 2012",
                  "richText" : "<div style=\"text-align: left\">Customer since 2012</div>",
                  "type" : "COMMENT"
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "conversations.write" ]
        }, {
          "oauth2_legacy" : [ "conversations.write" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/conversations/v3/conversations/actors/batch/read" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get actors",
        "description" : "Resolve `ActorId`s to the underlying actors/participants.",
        "externalDocs" : null,
        "operationId" : "post-/conversations/v3/conversations/actors/batch/read",
        "parameters" : [ {
          "name" : "property",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : {
          "description" : "Request, containing list of `ActorId`s to resolve.",
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/BatchInputString",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/BatchResponsePublicActor",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "status" : "COMPLETE",
                  "results" : [ {
                    "id" : "A-123",
                    "name" : "Adam Agent",
                    "avatar" : "https://api.hubspot.com/userpreferences/v1/avatar/6d16eea297d81639f120159f95a49fff/100",
                    "type" : "AGENT"
                  }, {
                    "id" : "V-456",
                    "name" : "Carol Contact",
                    "email" : "email@example.com",
                    "avatar" : "https://cdn2.hubspot.net/hubfs/2459647/defaults/contact.png",
                    "type" : "VISITOR"
                  } ],
                  "startedAt" : "2020-08-28T17:04:48Z",
                  "completedAt" : "2020-08-28T17:04:48Z"
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "207" : {
            "description" : "multiple statuses",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/BatchResponsePublicActorWithErrors",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/conversations/v3/conversations/channel-accounts" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get channel accounts.",
        "description" : null,
        "externalDocs" : null,
        "operationId" : "get-/conversations/v3/conversations/channel-accounts",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "query",
          "description" : "Limits results to channel accounts within a particular channel.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "integer",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : "int32",
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "inboxId",
          "in" : "query",
          "description" : "Limits results to channel accounts within a particular inbox.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "integer",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : "int32",
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int32",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "defaultPageLength",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int32",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalPublicChannelAccountForwardPaging",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "total" : 2,
                  "results" : [ {
                    "id" : "63264",
                    "channelId" : "1000",
                    "name" : "New chatflow",
                    "inboxId" : "5385",
                    "active" : true,
                    "authorized" : true,
                    "createdAt" : "2020-12-08T22:59:01.033Z"
                  }, {
                    "id" : "448722",
                    "channelId" : "1002",
                    "name" : "support-inbox@example.com",
                    "inboxId" : "5385",
                    "active" : false,
                    "authorized" : true,
                    "createdAt" : "2021-07-22T13:26:56.075Z"
                  } ]
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : null,
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/conversations/v3/conversations/channels/{channelId}" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get a single channel.",
        "description" : null,
        "externalDocs" : null,
        "operationId" : "get-/conversations/v3/conversations/channels/{channelId}",
        "parameters" : [ {
          "name" : "channelId",
          "in" : "path",
          "description" : "The unique ID of the channel.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/PublicChannel",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "id" : "1002",
                  "name" : "EMAIL"
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2_legacy" : [ "conversations.read" ]
        }, {
          "private_apps_legacy" : [ "conversations.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : null,
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/conversations/v3/conversations/threads/{threadId}/messages/{messageId}" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Conversations" ],
        "summary" : "Get a single message.",
        "description" : null,
        "externalDocs" : null,
        "operationId" : "get-/conversations/v3/conversations/threads/{threadId}/messages/{messageId}",
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "The unique ID of the thread.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int64",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "messageId",
          "in" : "path",
          "description" : "The unique ID of the message.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "property",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/PublicMessage",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "id" : "341c52ddfecc41b6a026dc689c3ff673",
                  "createdAt" : "2020-06-26T18:20:00.722Z",
                  "updatedAt" : "2020-06-28T18:20:00.722Z",
                  "createdBy" : "A-123",
                  "client" : {
                    "clientType" : "HUBSPOT"
                  },
                  "channelId" : "1000",
                  "channelAccountId" : "20091",
                  "archived" : false,
                  "status" : {
                    "statusType" : "FAILED",
                    "failureDetails" : {
                      "errorMessage" : "There was an issue sending your email"
                    }
                  },
                  "text" : "How can I help?",
                  "attachments" : [ {
                    "type" : "FILE",
                    "fileId" : "47252586777",
                    "fileUsageType" : "IMAGE",
                    "url" : "https://example.com/imageUrl"
                  } ],
                  "richText" : "<div style=\"text-align: left\">How can I help?</div>",
                  "inReplyToId" : "23kj5a45-9845-1d08-3048-23q2345u320i",
                  "direction" : "OUTGOING",
                  "truncationStatus" : "NOT_TRUNCATED",
                  "type" : "MESSAGE"
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
[...]
