{"openapi":"3.0.1","info":{"title":"Calling Extensions API","description":"Provides a way for apps to add custom calling options to a contact record. This works in conjunction with the [Calling SDK](#), which is used to build your phone/calling UI. The endpoints here allow your service to appear as an option to HubSpot users when they access the *Call* action on a contact record. Once accessed, your custom phone/calling UI will be displayed in an iframe at the specified URL with the specified dimensions on that record.","termsOfService":null,"contact":null,"license":null,"version":"v3","extensions":null},"externalDocs":null,"servers":[{"url":"https://api.hubapiqa.com","description":null,"variables":null,"extensions":null}],"security":null,"tags":[{"name":"Recording_Settings","description":null,"externalDocs":null,"extensions":null},{"name":"Settings","description":null,"externalDocs":null,"extensions":null}],"paths":{"/crm/v3/extensions/calling/{appId}/settings":{"summary":null,"description":null,"get":{"tags":["Settings"],"summary":"Get calling settings","description":"Returns the calling extension settings configured for your app.","externalDocs":null,"operationId":"get-/crm/v3/extensions/calling/{appId}/settings","parameters":[{"name":"appId","in":"path","description":"The ID of the target app.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SettingsResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":{"name":"HubPhone","url":"https://www.example.com/hubspot/iframe","width":200,"height":350,"isReady":true,"supportsCustomObjects":true,"createdAt":"2019-10-30T03:30:17.883Z","updatedAt":"2019-11-30T03:30:17.883Z"},"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"put":null,"post":{"tags":["Settings"],"summary":"Configure a calling extension","description":"Used to set the menu label, target iframe URL, and dimensions for your calling extension.","externalDocs":null,"operationId":"post-/crm/v3/extensions/calling/{appId}/settings","parameters":[{"name":"appId","in":"path","description":"The ID of the target app.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":"Settings state to create with.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SettingsRequest","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SettingsResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":{"name":"HubPhone","url":"https://www.example.com/hubspot/iframe","width":200,"height":350,"isReady":true,"supportsCustomObjects":true,"createdAt":"2019-10-30T03:30:17.883Z","updatedAt":"2019-11-30T03:30:17.883Z"},"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"delete":{"tags":["Settings"],"summary":"Delete calling settings","description":"Deletes this calling extension. This will remove your service as an option for all connected accounts.","externalDocs":null,"operationId":"delete-/crm/v3/extensions/calling/{appId}/settings","parameters":[{"name":"appId","in":"path","description":"The ID of the target app.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"204":{"description":"No content","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"options":null,"head":null,"patch":{"tags":["Settings"],"summary":"Update settings","description":"Updates existing calling extension settings.","externalDocs":null,"operationId":"patch-/crm/v3/extensions/calling/{appId}/settings","parameters":[{"name":"appId","in":"path","description":"The ID of the target app.","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":"Updated details for the settings.","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SettingsPatchRequest","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SettingsResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":{"name":"HubPhone","url":"https://www.example.com/hubspot/iframe","width":200,"height":350,"isReady":true,"supportsCustomObjects":true,"createdAt":"2019-10-30T03:30:17.883Z","updatedAt":"2019-11-30T03:30:17.883Z"},"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/crm/v3/extensions/calling/{appId}/settings/recording":{"summary":null,"description":null,"get":{"tags":["Recording_Settings"],"summary":null,"description":null,"externalDocs":null,"operationId":"get-/crm/v3/extensions/calling/{appId}/settings/recording","parameters":[{"name":"appId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/RecordingSettingsResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"put":null,"post":{"tags":["Recording_Settings"],"summary":null,"description":null,"externalDocs":null,"operationId":"post-/crm/v3/extensions/calling/{appId}/settings/recording","parameters":[{"name":"appId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/RecordingSettingsRequest","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/RecordingSettingsResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":{"tags":["Recording_Settings"],"summary":null,"description":null,"externalDocs":null,"operationId":"patch-/crm/v3/extensions/calling/{appId}/settings/recording","parameters":[{"name":"appId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/RecordingSettingsPatchRequest","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/RecordingSettingsResponse","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"developer_hapikey":[]}],"servers":null,"extensions":null},"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null}},"components":{"schemas":{"ErrorDetail":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["message"],"type":"object","not":null,"properties":{"message":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A human readable message describing the error along with remediation steps where appropriate","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"in":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The name of the field or parameter in which the error was found.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"code":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The status code associated with the error detail","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"subCategory":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A specific category that contains more specific detail about the error","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"context":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"description":"Context about the error condition","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"missingScopes":["scope1","scope2"]},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"SettingsResponse":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["createdAt","height","isReady","name","supportsCustomObjects","updatedAt","url","width"],"type":"object","not":null,"properties":{"name":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The name of your calling service to display to users.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"url":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The URL to your phone/calling UI, built with the [Calling SDK](#).","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"height":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":"The target height of the iframe that will contain your phone/calling UI.","format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"width":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":"The target width of the iframe that will contain your phone/calling UI.","format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"isReady":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":"When true, your service will appear as an option under the *Call* action in contact records of connected accounts.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"supportsCustomObjects":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":"When true, you are indicating that your service is compatible with engagement v2 service and can be used with custom objects.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"createdAt":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"When this calling extension was created.","format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"updatedAt":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The last time the settings for this calling extension were modified.","format":"date-time","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":"Current settings state","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"RecordingSettingsResponse":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["urlToRetrieveAuthedRecording"],"type":"object","not":null,"properties":{"urlToRetrieveAuthedRecording":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"RecordingSettingsPatchRequest":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":{"urlToRetrieveAuthedRecording":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"RecordingSettingsRequest":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["urlToRetrieveAuthedRecording"],"type":"object","not":null,"properties":{"urlToRetrieveAuthedRecording":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"SettingsRequest":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["name","url"],"type":"object","not":null,"properties":{"name":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The name of your calling service to display to users.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"url":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The URL to your phone/calling UI, built with the [Calling SDK](#).","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"height":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":"The target height of the iframe that will contain your phone/calling UI.","format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"width":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":"The target width of the iframe that will contain your phone/calling UI.","format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"isReady":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":"When true, your service will appear as an option under the *Call* action in contact records of connected accounts.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"supportsCustomObjects":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":"When true, you are indicating that your service is compatible with engagement v2 service and can be used with custom objects.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":"Settings create request","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"name":"HubPhone","url":"https://www.example.com/hubspot/iframe","width":200,"height":350,"isReady":true,"supportsCustomObjects":true},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"SettingsPatchRequest":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":{"name":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The name of your calling service to display to users.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"url":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The URL to your phone/calling UI, built with the [Calling SDK](#).","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"height":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":"The target height of the iframe that will contain your phone/calling UI.","format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"width":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":"The target width of the iframe that will contain your phone/calling UI.","format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"isReady":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":"When true, your service will appear as an option under the *Call* action in contact records of connected accounts.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"supportsCustomObjects":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":"When true, you are indicating that your service is compatible with engagement v2 service and can be used with custom objects.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":"Settings update request","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"Error":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["category","correlationId","message"],"type":"object","not":null,"properties":{"message":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A human readable message describing the error along with remediation steps where appropriate","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":"An error occurred","externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"correlationId":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A unique identifier for the request. Include this value with any error reports or support tickets","format":"uuid","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":"aeb5f871-7f07-4993-9211-075dc63e7cbf","externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"category":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The error category","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"subCategory":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A specific category that contains more specific detail about the error","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"errors":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":"further information about the error","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ErrorDetail","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"context":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"description":"Context about the error condition","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"invalidPropertyName":["propertyValue"],"missingScopes":["scope1","scope2"]},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"links":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"description":"A map of link names to associated URIs containing documentation about the error or recommended remediation steps","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"message":"Invalid input (details will vary based on the error)","correlationId":"aeb5f871-7f07-4993-9211-075dc63e7cbf","category":"VALIDATION_ERROR","links":{"knowledge-base":"https://www.hubspot.com/products/service/knowledge-base"}},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"responses":{"Error":{"description":"An error occurred.","headers":null,"content":{"*/*":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/Error","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null}},"parameters":null,"examples":null,"requestBodies":null,"headers":null,"securitySchemes":{"developer_hapikey":{"type":"APIKEY","description":null,"name":"hapikey","$ref":null,"in":"QUERY","scheme":null,"bearerFormat":null,"flows":null,"openIdConnectUrl":null,"extensions":null}},"links":null,"callbacks":null,"extensions":{}},"extensions":null}