{"openapi":"3.0.1","info":{"title":"TestPRFeedbackService","description":null,"termsOfService":null,"contact":null,"license":null,"version":"v1","extensions":null},"externalDocs":null,"servers":[{"url":"https://private.hubapi.com","description":null,"variables":null,"extensions":null}],"security":null,"tags":[{"name":"Placeholder","description":null,"externalDocs":null,"extensions":null},{"name":"Example","description":null,"externalDocs":null,"extensions":null}],"paths":{"/test/p/r/feedback/placeholder":{"summary":null,"description":null,"get":{"tags":["Placeholder"],"summary":null,"description":null,"externalDocs":null,"operationId":"get-/test/p/r/feedback/placeholder","parameters":[{"name":"count","in":"query","description":null,"required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/NewPlaceholder","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[],"servers":null,"extensions":null},"put":null,"post":{"tags":["Placeholder"],"summary":null,"description":null,"externalDocs":null,"operationId":"post-/test/p/r/feedback/placeholder","parameters":[],"requestBody":{"description":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":{},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"204":{"description":"No content","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/test/p/r/feedback/placeholder/test-xyz":{"summary":null,"description":null,"get":{"tags":["Placeholder"],"summary":null,"description":null,"externalDocs":null,"operationId":"get-/test/p/r/feedback/placeholder/test-xyz","parameters":[{"name":"nums1","in":"query","description":null,"required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":{},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[],"servers":null,"extensions":null},"put":null,"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/test/p/r/feedback/placeholder/xyz":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Placeholder"],"summary":null,"description":null,"externalDocs":null,"operationId":"post-/test/p/r/feedback/placeholder/xyz","parameters":[{"name":"nums1","in":"query","description":null,"required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/NewPlaceholder","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/test/p/r/feedback/example":{"summary":null,"description":null,"get":{"tags":["Example"],"summary":null,"description":null,"externalDocs":null,"operationId":"get-/test/p/r/feedback/example","parameters":[],"requestBody":{"description":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/OneOfSuccessPlaceholderErrorPlaceholder","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps_legacy":["new-scope-group-testing-2"]},{"private_apps_legacy":["new-scope-group-testing"]},{"oauth2_legacy":["new-scope-group-testing"]},{"private_apps_legacy":["contacts"]},{"oauth2_legacy":["new-scope-group-testing-2"]}],"servers":null,"extensions":null},"put":null,"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null}},"components":{"schemas":{"ErrorDetail":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":{"subCategory":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A specific category that contains more specific detail about the error","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"code":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The status code associated with the error detail","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"in":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The name of the field or parameter in which the error was found.","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"context":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"description":"Context about the error condition","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"missingScopes":["scope1","scope2"]},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"message":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A human readable message describing the error along with remediation steps where appropriate","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"ImmutablePlaceholder":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":{"this":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"strin":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"NewPlaceholder":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":{"all":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ImmutablePlaceholder","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"that":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"this":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"OneOfSuccessPlaceholderErrorPlaceholder":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":{},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"allOf":null,"anyOf":null,"oneOf":[{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/SuccessPlaceholder","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ErrorPlaceholder","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}],"default":null,"enum":null},"Error":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":{"subCategory":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A specific category that contains more specific detail about the error","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"context":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"description":"Context about the error condition","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"invalidPropertyName":["propertyValue"],"missingScopes":["scope1","scope2"]},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"correlationId":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A unique identifier for the request. Include this value with any error reports or support tickets","format":"uuid","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":"aeb5f871-7f07-4993-9211-075dc63e7cbf","externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"links":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":null,"additionalProperties":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"description":"A map of link names to associated URIs containing documentation about the error or recommended remediation steps","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"message":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"A human readable message describing the error along with remediation steps where appropriate","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":"An error occurred","externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"category":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":"The error category","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"errors":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":"further information about the error","format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ErrorDetail","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":{"message":"Invalid input (details will vary based on the error)","correlationId":"aeb5f871-7f07-4993-9211-075dc63e7cbf","category":"VALIDATION_ERROR","links":{"knowledge-base":"https://www.hubspot.com/products/service/knowledge-base"}},"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"ErrorPlaceholder":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":{"@result":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":"ERR","enum":["ERR"]},"total":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"message":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"SuccessPlaceholder":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"object","not":null,"properties":{"output":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"okay":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"@result":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":"OK","enum":["OK"]}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"responses":{"Error":{"description":"An error occurred.","headers":null,"content":{"*/*":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/Error","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null}},"parameters":null,"examples":null,"requestBodies":null,"headers":null,"securitySchemes":{"oauth2_legacy":{"type":"OAUTH2","description":null,"name":null,"$ref":null,"in":null,"scheme":null,"bearerFormat":null,"flows":{"implicit":null,"password":null,"clientCredentials":null,"authorizationCode":{"authorizationUrl":"https://app.hubspot.com/oauth/authorize","tokenUrl":"https://api.hubapi.com/oauth/v1/token","refreshUrl":null,"scopes":{"new-scope-group-testing":"Testing in QA","new-scope-group-testing-2":"Testing in QA 2"},"extensions":null},"extensions":null},"openIdConnectUrl":null,"extensions":null},"private_apps_legacy":{"type":"APIKEY","description":null,"name":"private-app-legacy","$ref":null,"in":"HEADER","scheme":null,"bearerFormat":null,"flows":null,"openIdConnectUrl":null,"extensions":null}},"links":null,"callbacks":null,"extensions":{}},"extensions":null}