{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "HubDB endpoints",
    "description" : "HubDB is a relational data store that presents data as rows, columns, and cells in a table, much like a spreadsheet. HubDB tables can be added or modified [in the HubSpot CMS](https://knowledge.hubspot.com/cos-general/how-to-edit-hubdb-tables), but you can also use the API endpoints documented here. For more information on HubDB tables and using their data on a HubSpot site, see the [CMS developers site](https://designers.hubspot.com/docs/tools/hubdb). You can also see the [documentation for dynamic pages](https://designers.hubspot.com/docs/tutorials/how-to-build-dynamic-pages-with-hubdb) for more details about the `useForPages` field.\n\nHubDB tables support `draft` and `published` versions. This allows you to update data in the table, either for testing or to allow for a manual approval process, without affecting any live pages using the existing data. Draft data can be reviewed, and published by a user working in HubSpot or published via the API. Draft data can also be discarded, allowing users to go back to the published version of the data without disrupting it. If a table is set to be `allowed for public access`, you can access the published version of the table and rows without any authentication by specifying the portal id via the query parameter `portalId`.",
    "version" : "v3"
  },
  "servers" : [ {
    "url" : "https://api.hubapiqa.com"
  } ],
  "tags" : [ {
    "name" : "Activity"
  }, {
    "name" : "Usage"
  }, {
    "name" : "Details"
  }, {
    "name" : "Tables"
  }, {
    "name" : "Rows"
  }, {
    "name" : "Rows Batch"
  } ],
  "paths" : {
    "/account-info/v3/activity/login" : {
      "get" : {
        "tags" : [ "Activity" ],
        "summary" : "Get login activity for a HubSpot account.",
        "description" : "Get login activity.",
        "operationId" : "get-/account-info/v3/activity/login",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Max value of limit is 200.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "Identifier of user to retrieve activities for",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicLoginAuditForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "account-info.security.read" ]
        }, {
          "private_apps_legacy" : [ "account-info.security.read" ]
        } ]
      }
    },
    "/account-info/v3/details" : {
      "get" : {
        "tags" : [ "Details" ],
        "summary" : "Get account details for a HubSpot account.",
        "description" : "Get account details",
        "operationId" : "get-/account-info/v3/details",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PortalInformationResponse"
                },
                "example" : {
                  "portalId" : 12345678,
                  "timeZone" : "US/Eastern",
                  "companyCurrency" : "USD",
                  "additionalCurrencies" : [ "NZD", "AUD", "EUR" ],
                  "utcOffset" : "-04:00",
                  "utcOffsetMilliseconds" : -14400000,
                  "uiDomain" : "app-eu1.hubspot.com",
                  "dataHostingLocation" : "eu1"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "oauth" ]
        }, {
          "oauth2_legacy" : [ "oauth" ]
        } ]
      }
    },
    "/account-info/v3/api-usage/daily" : {
      "get" : {
        "tags" : [ "Usage" ],
        "summary" : "Get the daily API usage and limits for a HubSpot account.",
        "description" : "Get daily API usage",
        "operationId" : "get-/account-info/v3/api-usage/daily",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseApiUsageNoPaging"
                },
                "example" : {
                  "results" : [ {
                    "name" : "api-calls-daily",
                    "usageLimit" : 500000,
                    "currentUsage" : 1,
                    "collectedAt" : "2020-04-10T06:46:40.789Z",
                    "fetchStatus" : "NOTFOUND",
                    "resetsAt" : "2020-04-10T04:00:00Z"
                  } ]
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/account-info/v3/activity/audit-logs" : {
      "get" : {
        "tags" : [ "Activity" ],
        "operationId" : "get-/account-info/v3/activity/audit-logs",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "actingUserId",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "occurredAfter",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "occurredBefore",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicApiUserActionEventForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "account-info.security.read" ]
        }, {
          "private_apps_legacy" : [ "account-info.security.read" ]
        } ]
      }
    },
    "/account-info/v3/activity/security" : {
      "get" : {
        "tags" : [ "Activity" ],
        "summary" : "Get security activity for a HubSpot account",
        "description" : "Get security activity",
        "operationId" : "get-/account-info/v3/activity/security",
        "parameters" : [ {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page. Max value of limit is 200.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "Identifier of user to retrieve activities for",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "fromTimestamp",
          "in" : "query",
          "description" : "Limit to activities created after this epoch timestamp.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseHydratedCriticalActionForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "account-info.security.read" ]
        }, {
          "private_apps_legacy" : [ "account-info.security.read" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/export" : {
      "get" : {
        "tags" : [ "Tables" ],
        "summary" : "Export a draft table",
        "description" : "Exports the `draft` version of a table to CSV / EXCEL format.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft/export",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to export.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "The file format to export. Possible values include `CSV`, `XLSX`, and `XLS`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/draft" : {
      "get" : {
        "tags" : [ "Tables" ],
        "summary" : "Return all draft tables",
        "description" : "Returns the details for each draft table defined in the specified account, including column definitions.",
        "operationId" : "get-/cms/v3/hubdb/tables/draft",
        "parameters" : [ {
          "name" : "sort",
          "in" : "query",
          "description" : "Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return. Default is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Only return tables created at exactly the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Only return tables created after the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Only return tables created before the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Only return tables last updated at exactly the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Only return tables last updated after the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Only return tables last updated before the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Specifies whether to return archived tables. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}" : {
      "get" : {
        "tags" : [ "Rows" ],
        "summary" : "Get a table row",
        "description" : "Get a single row by ID from a table's `published` version.\n**Note:** This endpoint can be accessed without any authentication, if the table is set to be allowed for public access.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "The ID of the row",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft" : {
      "get" : {
        "tags" : [ "Rows" ],
        "summary" : "Get rows from draft table",
        "description" : "Returns rows in the `draft` version of the specified table. Row results can be filtered and sorted. Filtering and sorting options will be sent as query parameters to the API request. For example, by adding the query parameters `column1__gt=5&sort=-column1`, API returns the rows with values for column `column1` greater than 5 and in the descending order of `column1` values. Refer to the [overview section](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) for detailed filtering and sorting options.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to query.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Specifies the column names to sort the results by.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return. Default is `1000`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Specify the column names to get results containing only the required columns instead of all column details. If you want to include multiple columns in the result, use this query param as many times. ",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableRowV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone" : {
      "post" : {
        "tags" : [ "Rows" ],
        "summary" : "Clone a row",
        "description" : "Clones a single row in the `draft` version of the table.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft/clone",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "The ID of the row",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/export" : {
      "get" : {
        "tags" : [ "Tables" ],
        "summary" : "Export a published version of a table",
        "description" : "Exports the `published` version of a table to CSV / EXCEL format.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/export",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to export.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "format",
          "in" : "query",
          "description" : "The file format to export. Possible values include `CSV`, `XLSX`, and `XLS`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/vnd.ms-excel" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "text/csv" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset" : {
      "post" : {
        "tags" : [ "Tables" ],
        "summary" : "Reset a draft table",
        "description" : "Replaces the data in the `draft` version of the table with values from the `published` version. Any unpublished changes in the `draft` will be lost after this call is made.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/reset",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to reset.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Set this to `true` to populate foreign ID values in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Replace rows in batch in draft table",
        "description" : "Replaces multiple rows as a batch in the `draft` version of the table, with a maximum of 100 rows per call. See the endpoint `PUT /tables/{tableIdOrName}/rows/{rowId}/draft` for details on updating a single row.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/replace",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON array of row objects.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone" : {
      "post" : {
        "tags" : [ "Tables" ],
        "summary" : "Clone a table",
        "description" : "Clone an existing HubDB table. The `newName` and `newLabel` of the new table can be sent as JSON in the `body` parameter. This will create the cloned table as a `draft`.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/clone",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to clone.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON object with the properties newName and newLabel. You can set copyRows to false to clone the table with copying rows and default is true.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableCloneRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Permanently deletes rows",
        "description" : "Permanently deletes rows from the `draft` version of the table, given a set of row ids. Maximum of 100 row ids per call.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/purge",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON array of row ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/import" : {
      "post" : {
        "tags" : [ "Tables" ],
        "summary" : "Import data into draft table",
        "description" : "Import the contents of a CSV file into an existing HubDB table. The data will always be imported into the `draft` version of the table. Use `/publish` endpoint to push these changes to `published` version.\nThis endpoint takes a multi-part POST request. The first part will be a set of JSON-formatted options for the import and you can specify this with the name as `config`.  The second part will be the CSV file you want to import and you can specify this with the name as `file`. Refer the [overview section](https://developers.hubspot.com/docs/api/cms/hubdb#importing-tables) to check the details and format of the JSON-formatted options for the import.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/import",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID of the destination table where data will be imported.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "config" : {
                    "type" : "string",
                    "description" : "Configuration for the import in JSON format as described above."
                  },
                  "file" : {
                    "type" : "string",
                    "description" : "The source CSV file to be imported.",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImportResult"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft" : {
      "get" : {
        "tags" : [ "Rows" ],
        "summary" : "Get a row from the draft table",
        "description" : "Get a single row by ID from a table's `draft` version.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "The ID of the row",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "put" : {
        "tags" : [ "Rows" ],
        "summary" : "Replaces an existing row",
        "description" : "Replace a single row in the table's `draft` version.\nAll the column values must be specified. If a column has a value in the target table and this request doesn't define that value, it will be deleted.\nSee the `Create a row` endpoint for instructions on how to format the JSON row definitions.",
        "operationId" : "put-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "The ID of the row",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON object of the row",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Rows" ],
        "summary" : "Permanently deletes a row",
        "description" : "Permanently deletes a row from a table's `draft` version.",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "The ID of the row",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Rows" ],
        "summary" : "Updates an existing row",
        "description" : "Sparse updates a single row in the table's `draft` version.\nAll the column values need not be specified. Only the columns or fields that needs to be modified can be specified.\nSee the `Create a row` endpoint for instructions on how to format the JSON row definitions.",
        "operationId" : "patch-/cms/v3/hubdb/tables/{tableIdOrName}/rows/{rowId}/draft",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rowId",
          "in" : "path",
          "description" : "The ID of the row",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : "\\d+",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON object of the row with necessary fields that needs to be updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows" : {
      "get" : {
        "tags" : [ "Rows" ],
        "summary" : "Get rows for a table",
        "description" : "Returns a set of rows in the `published` version of the specified table. Row results can be filtered and sorted. Filtering and sorting options will be sent as query parameters to the API request. For example, by adding the query parameters `column1__gt=5&sort=-column1`, API returns the rows with values for column `column1` greater than 5 and in the descending order of `column1` values. Refer to the [overview section](https://developers.hubspot.com/docs/api/cms/hubdb#filtering-and-sorting-table-rows) for detailed filtering and sorting options.\n**Note:** This endpoint can be accessed without any authentication, if the table is set to be allowed for public access.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/rows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to query.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Specifies the column names to sort the results by. See the above description for more details.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return. Default is `1000`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Specify the column names to get results containing only the required columns instead of all column details.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableRowV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "post" : {
        "tags" : [ "Rows" ],
        "summary" : "Add a new row to a table",
        "description" : "Add a new row to a HubDB table. New rows will be added to the `draft` version of the table. Use `publish` endpoint to push these changes to published version.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the target table.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The row definition JSON, formatted as described above.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Get a set of rows",
        "description" : "Returns rows in the `published` version of the specified table, given a set of row ids.\n**Note:** This endpoint can be accessed without any authentication if the table is set to be allowed for public access.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/batch/read",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to query.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON array of row ids",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Create rows in batch",
        "description" : "Creates rows in the `draft` version of the specified table, given an array of row objects. Maximum of 100 row object per call. See the overview section for more details with an example.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/create",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON array of row objects",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}" : {
      "get" : {
        "tags" : [ "Tables" ],
        "summary" : "Get details for a published table",
        "description" : "Returns the details for the `published` version of the specified table. This will include the definitions for the columns in the table and the number of rows in the table.\n\n**Note:** This endpoint can be accessed without any authentication if the table is set to be allowed for public access.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to return.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Set this to `true` to return details for an archived table. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Set this to `true` to populate foreign ID values in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "delete" : {
        "tags" : [ "Tables" ],
        "summary" : "Archive a table",
        "description" : "Archive (soft delete) an existing HubDB table. This archives both the published and draft versions.",
        "operationId" : "delete-/cms/v3/hubdb/tables/{tableIdOrName}",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to archive.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Get a set of rows from draft table",
        "description" : "Returns rows in the `draft` version of the specified table, given a set of row ids.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/read",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON array of row ids.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Clone rows in batch",
        "description" : "Clones rows in the `draft` version of the specified table, given a set of row ids. Maximum of 100 row ids per call.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/clone",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON array of row ids",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputString"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables" : {
      "get" : {
        "tags" : [ "Tables" ],
        "summary" : "Get all published tables",
        "description" : "Returns the details for the `published` version of each table defined in an account, including column definitions.",
        "operationId" : "get-/cms/v3/hubdb/tables",
        "parameters" : [ {
          "name" : "sort",
          "in" : "query",
          "description" : "Specifies which fields to use for sorting results. Valid fields are `name`, `createdAt`, `updatedAt`, `createdBy`, `updatedBy`. `createdAt` will be used by default.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The cursor token value to get the next set of results. You can get this from the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to return. Default is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Only return tables created at exactly the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdAfter",
          "in" : "query",
          "description" : "Only return tables created after the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "createdBefore",
          "in" : "query",
          "description" : "Only return tables created before the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Only return tables last updated at exactly the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedAfter",
          "in" : "query",
          "description" : "Only return tables last updated after the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "updatedBefore",
          "in" : "query",
          "description" : "Only return tables last updated before the specified time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Specifies whether to return archived tables. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalHubDbTableV3ForwardPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "post" : {
        "tags" : [ "Tables" ],
        "summary" : "Create a new table",
        "description" : "Creates a new draft HubDB table given a JSON schema. The table name and label should be unique for each account.",
        "operationId" : "post-/cms/v3/hubdb/tables",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "The JSON schema for the table being created.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/unpublish" : {
      "post" : {
        "tags" : [ "Tables" ],
        "summary" : "Unpublish a table",
        "description" : "Unpublishes the table, meaning any website pages using data from the table will not render any data.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/unpublish",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to publish.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Set this to `true` to populate foreign ID values in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish" : {
      "post" : {
        "tags" : [ "Tables" ],
        "summary" : "Publish a table from draft",
        "description" : "Publishes the table by copying the data and table schema changes from draft version to the published version, meaning any website pages using data from the table will be updated.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/draft/publish",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to publish.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Set this to `true` to populate foreign ID values in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/draft" : {
      "get" : {
        "tags" : [ "Tables" ],
        "summary" : "Get details for a draft table",
        "description" : "Get the details for the `draft` version of a specific HubDB table. This will include the definitions for the columns in the table and the number of rows in the table.",
        "operationId" : "get-/cms/v3/hubdb/tables/{tableIdOrName}/draft",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to return.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Set this to `true` to return an archived table. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Set this to `true` to populate foreign ID values in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      },
      "patch" : {
        "tags" : [ "Tables" ],
        "summary" : "Update an existing table",
        "description" : "Update an existing HubDB table. You can use this endpoint to add or remove columns to the table as well as restore an archived table. Tables updated using the endpoint will only modify the `draft` verion of the table. Use `publish` endpoint to push all the changes to the `published` version. To restore a table, include the query parameter `archived=true` and `\"archived\": false` in the json body.\n**Note:** You need to include all the columns in the input when you are adding/removing/updating a column. If you do not include an already existing column in the request, it will be deleted.",
        "operationId" : "patch-/cms/v3/hubdb/tables/{tableIdOrName}/draft",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Specifies whether to return archived tables. Defaults to `false`.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "includeForeignIds",
          "in" : "query",
          "description" : "Set this to `true` to populate foreign ID values in the result.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "description" : "The JSON schema for the table being updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/HubDbTableV3Request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HubDbTableV3"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    },
    "/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update" : {
      "post" : {
        "tags" : [ "Rows Batch" ],
        "summary" : "Update rows in batch in draft table",
        "description" : "Updates multiple rows as a batch in the `draft` version of the table, with a maximum of 100 rows per call. See the endpoint `PATCH /tables/{tableIdOrName}/rows/{rowId}/draft` for details on updating a single row.",
        "operationId" : "post-/cms/v3/hubdb/tables/{tableIdOrName}/rows/draft/batch/update",
        "parameters" : [ {
          "name" : "tableIdOrName",
          "in" : "path",
          "description" : "The ID or name of the table",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "JSON array of row objects.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchInputHubDbTableRowV3BatchUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3"
                }
              }
            }
          },
          "207" : {
            "description" : "multiple statuses",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchResponseHubDbTableRowV3WithErrors"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "private_apps_legacy" : [ "hubdb" ]
        }, {
          "oauth2_legacy" : [ "hubdb" ]
        } ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "BatchInputString" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "StandardError" : {
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "category" : {
            "type" : "string"
          },
          "subCategory" : {
            "type" : "object",
            "properties" : { }
          },
          "message" : {
            "type" : "string"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "PublicLoginAudit" : {
        "required" : [ "id", "loginAt", "loginSucceeded" ],
        "type" : "object",
        "properties" : {
          "regionCode" : {
            "type" : "string",
            "description" : "The approximate region code of the login"
          },
          "countryCode" : {
            "type" : "string",
            "description" : "The approximate country code of the login"
          },
          "ipAddress" : {
            "type" : "string",
            "description" : "IP address where the activity originated."
          },
          "location" : {
            "type" : "string"
          },
          "userAgent" : {
            "type" : "string",
            "description" : "Information about the device used for logging in."
          },
          "id" : {
            "type" : "string",
            "description" : "The login activity's unique ID."
          },
          "loginAt" : {
            "type" : "string",
            "description" : "The time the login took place.",
            "format" : "date-time"
          },
          "userId" : {
            "type" : "integer",
            "description" : "The user's unique ID.",
            "format" : "int32"
          },
          "email" : {
            "type" : "string",
            "description" : "Email address of the user associated with the login."
          },
          "loginSucceeded" : {
            "type" : "boolean",
            "description" : "Whether the login was successful or not."
          }
        },
        "description" : "Details about the a particular login activity for a HubSpot account.",
        "example" : {
          "id" : "5432653",
          "loginAt" : "2022-04-01T19:36:24.303Z",
          "userId" : 876,
          "email" : "person3@testdomain.com",
          "countryCode" : "ie",
          "regionCode" : "d",
          "ipAddress" : "45.56.67.89",
          "userAgent" : "Mozilla/5.0 (Linux; Android 11; M2101K6G)",
          "loginSucceeded" : true
        }
      },
      "SimpleUser" : {
        "required" : [ "email", "firstName", "id", "lastName" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "email" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          }
        }
      },
      "HubDbTableCloneRequest" : {
        "required" : [ "copyRows" ],
        "type" : "object",
        "properties" : {
          "newName" : {
            "type" : "string",
            "description" : "The new name for the cloned table"
          },
          "newLabel" : {
            "type" : "string",
            "description" : "The new label for the cloned table"
          },
          "copyRows" : {
            "type" : "boolean",
            "description" : "Specifies whether to copy the rows during clone"
          }
        },
        "example" : {
          "newName" : "test_table_new",
          "newLabel" : "Test Table New",
          "copyRows" : "true"
        }
      },
      "CollectionResponseWithTotalHubDbTableV3ForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableV3"
            }
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          }
        }
      },
      "ActingUser" : {
        "required" : [ "userId" ],
        "type" : "object",
        "properties" : {
          "userEmail" : {
            "type" : "string"
          },
          "userId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "CollectionResponseHydratedCriticalActionForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HydratedCriticalAction"
            }
          }
        }
      },
      "BatchInputHubDbTableRowV3Request" : {
        "required" : [ "inputs" ],
        "type" : "object",
        "properties" : {
          "inputs" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3Request"
            }
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "ForwardPaging" : {
        "type" : "object",
        "properties" : {
          "next" : {
            "$ref" : "#/components/schemas/NextPage"
          }
        }
      },
      "CollectionResponseWithTotalHubDbTableRowV3ForwardPaging" : {
        "required" : [ "results", "total" ],
        "type" : "object",
        "properties" : {
          "total" : {
            "type" : "integer",
            "format" : "int32"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          }
        }
      },
      "Column" : {
        "required" : [ "label", "name", "type" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Name of the column"
          },
          "label" : {
            "type" : "string",
            "description" : "Label of the column"
          },
          "id" : {
            "type" : "string",
            "description" : "Column Id"
          },
          "deleted" : {
            "type" : "boolean"
          },
          "options" : {
            "type" : "array",
            "description" : "Options to choose for select and multi-select columns",
            "items" : {
              "$ref" : "#/components/schemas/Option"
            }
          },
          "width" : {
            "type" : "integer",
            "description" : "Column width for HubDB UI",
            "format" : "int32"
          },
          "foreignTableId" : {
            "type" : "integer",
            "description" : "Foreign table id referenced",
            "format" : "int64"
          },
          "foreignColumnId" : {
            "type" : "integer",
            "description" : "Foreign Column id",
            "format" : "int32"
          },
          "description" : {
            "type" : "string"
          },
          "foreignIds" : {
            "type" : "array",
            "description" : "Foreign Ids",
            "items" : {
              "$ref" : "#/components/schemas/ForeignId"
            }
          },
          "foreignIdsById" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ForeignId"
            },
            "description" : "Foreign ids"
          },
          "foreignIdsByName" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/ForeignId"
            },
            "description" : "Foreign ids by name"
          },
          "type" : {
            "type" : "string",
            "description" : "Type of the column",
            "enum" : [ "NULL", "TEXT", "NUMBER", "URL", "IMAGE", "SELECT", "MULTISELECT", "BOOLEAN", "LOCATION", "DATE", "DATETIME", "CURRENCY", "RICHTEXT", "FOREIGN_ID", "VIDEO", "CTA", "FILE" ]
          },
          "optionCount" : {
            "type" : "integer",
            "description" : "Number of options available",
            "format" : "int32"
          }
        },
        "example" : {
          "name" : "text_column",
          "label" : "Text Column",
          "archived" : false,
          "type" : "TEXT",
          "id" : 1
        }
      },
      "HubDbTableV3" : {
        "required" : [ "label", "name" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Id of the table"
          },
          "name" : {
            "type" : "string",
            "description" : "Name of the table"
          },
          "label" : {
            "type" : "string",
            "description" : "Label of the table"
          },
          "columns" : {
            "type" : "array",
            "description" : "List of columns in the table",
            "items" : {
              "$ref" : "#/components/schemas/Column"
            }
          },
          "published" : {
            "type" : "boolean"
          },
          "deleted" : {
            "type" : "boolean"
          },
          "columnCount" : {
            "type" : "integer",
            "description" : "Number of columns including deleted",
            "format" : "int32"
          },
          "rowCount" : {
            "type" : "integer",
            "description" : "Number of rows in the table",
            "format" : "int32"
          },
          "createdBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "updatedBy" : {
            "$ref" : "#/components/schemas/SimpleUser"
          },
          "useForPages" : {
            "type" : "boolean",
            "description" : "Specifies whether the table can be used for creation of dynamic pages"
          },
          "allowChildTables" : {
            "type" : "boolean",
            "description" : "Specifies whether child tables can be created"
          },
          "enableChildTablePages" : {
            "type" : "boolean",
            "description" : "Specifies creation of multi-level dynamic pages using child tables"
          },
          "isOrderedManually" : {
            "type" : "boolean"
          },
          "dynamicMetaTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Specifies the key value pairs of the metadata fields with the associated column ids"
          },
          "allowPublicApiAccess" : {
            "type" : "boolean",
            "description" : "Specifies whether the table can be read by public without authorization"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Timestamp at which the table is created",
            "format" : "date-time"
          },
          "publishedAt" : {
            "type" : "string",
            "description" : "Timestamp at which the table is published recently",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Timestamp at which the table is updated recently",
            "format" : "date-time"
          }
        },
        "description" : "Model for HubDB table",
        "example" : {
          "id" : "1630034",
          "label" : "Test Table",
          "name" : "test_table",
          "createdAt" : "2019-03-15T21:20:51.556Z",
          "publishedAt" : "2020-04-02T16:00:45.009Z",
          "updatedAt" : "2020-04-02T16:00:43.880Z",
          "columns" : [ {
            "name" : "text_column",
            "label" : "Text Column",
            "id" : "1",
            "archived" : false,
            "foreignIdsById" : { },
            "foreignIdsByName" : { },
            "type" : "TEXT"
          } ],
          "archived" : false,
          "rowCount" : 0,
          "useForPages" : true,
          "allowChildTables" : true,
          "enableChildTablePages" : false,
          "dynamicMetaTags" : { },
          "allowPublicApiAccess" : false,
          "columnCount" : 3
        }
      },
      "BatchResponseHubDbTableRowV3" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "ForeignId" : {
        "required" : [ "id", "name", "type" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          }
        }
      },
      "CollectionResponsePublicApiUserActionEventForwardPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "paging" : {
            "$ref" : "#/components/schemas/ForwardPaging"
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicApiUserActionEvent"
            }
          }
        }
      },
      "ImportResult" : {
        "required" : [ "duplicateRows", "errors", "rowLimitExceeded", "rowsImported" ],
        "type" : "object",
        "properties" : {
          "errors" : {
            "type" : "array",
            "description" : "List of errors during import",
            "items" : {
              "$ref" : "#/components/schemas/Error"
            }
          },
          "duplicateRows" : {
            "type" : "integer",
            "description" : "Specifies number of duplicate rows",
            "format" : "int32"
          },
          "rowLimitExceeded" : {
            "type" : "boolean",
            "description" : "Specifies whether row limit exceeded during import"
          },
          "rowsImported" : {
            "type" : "integer",
            "description" : "Specifies number of rows imported",
            "format" : "int32"
          }
        },
        "description" : "The result of import operation"
      },
      "HydratedCriticalAction" : {
        "required" : [ "createdAt", "id", "type", "userId" ],
        "type" : "object",
        "properties" : {
          "createdAt" : {
            "type" : "string",
            "description" : "The time the activity took place.",
            "format" : "date-time"
          },
          "actingUser" : {
            "type" : "string",
            "description" : "Email address of the user associated with the activity."
          },
          "regionCode" : {
            "type" : "string",
            "description" : "The approximate region code"
          },
          "infoUrl" : {
            "type" : "string",
            "description" : "A link to the URL where the action was taken in the account."
          },
          "countryCode" : {
            "type" : "string",
            "description" : "The approximate country code"
          },
          "ipAddress" : {
            "type" : "string",
            "description" : "IP address where the activity originated."
          },
          "location" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string",
            "description" : "The activity's unique ID."
          },
          "type" : {
            "type" : "string",
            "description" : "The type of activity."
          },
          "userId" : {
            "type" : "integer",
            "description" : "The user's unique ID.",
            "format" : "int32"
          },
          "objectId" : {
            "type" : "string",
            "description" : "The ID of the affected object."
          }
        },
        "description" : "Details about the a particular security activity for a HubSpot account.",
        "example" : {
          "id" : "5432653",
          "createdAt" : "2022-04-01T19:36:24.303Z",
          "userId" : 876,
          "type" : "ADD_USER",
          "actingUser" : "person3@testdomain.com",
          "objectId" : "7654",
          "infoUrl" : "app.hubspot.com/settings/123/users",
          "ipAddress" : "45.56.67.89",
          "countryCode" : "ie",
          "regionCode" : "d"
        }
      },
      "PortalInformationResponse" : {
        "required" : [ "accountType", "additionalCurrencies", "companyCurrency", "dataHostingLocation", "portalId", "timeZone", "uiDomain", "utcOffset", "utcOffsetMilliseconds" ],
        "type" : "object",
        "properties" : {
          "additionalCurrencies" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "utcOffset" : {
            "type" : "string"
          },
          "companyCurrency" : {
            "type" : "string"
          },
          "portalId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "accountType" : {
            "type" : "string",
            "enum" : [ "STANDARD", "DEVELOPER_TEST", "SANDBOX", "APP_DEVELOPER" ]
          },
          "uiDomain" : {
            "type" : "string"
          },
          "timeZone" : {
            "type" : "string"
          },
          "dataHostingLocation" : {
            "type" : "string"
          },
          "utcOffsetMilliseconds" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "PublicApiUserActionEvent" : {
        "required" : [ "actingUser", "action", "category", "id", "occurredAt" ],
        "type" : "object",
        "properties" : {
          "actingUser" : {
            "$ref" : "#/components/schemas/ActingUser"
          },
          "subCategory" : {
            "type" : "string"
          },
          "occurredAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "targetObjectId" : {
            "type" : "string"
          },
          "action" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "category" : {
            "type" : "string"
          }
        }
      },
      "HubDbTableV3Request" : {
        "required" : [ "label", "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Name of the table"
          },
          "label" : {
            "type" : "string",
            "description" : "Label of the table"
          },
          "useForPages" : {
            "type" : "boolean",
            "description" : "Specifies whether the table can be used for creation of dynamic pages"
          },
          "allowPublicApiAccess" : {
            "type" : "boolean",
            "description" : "Specifies whether the table can be read by public without authorization"
          },
          "allowChildTables" : {
            "type" : "boolean",
            "description" : "Specifies whether child tables can be created"
          },
          "enableChildTablePages" : {
            "type" : "boolean",
            "description" : "Specifies creation of multi-level dynamic pages using child tables"
          },
          "columns" : {
            "type" : "array",
            "description" : "List of columns in the table",
            "items" : {
              "$ref" : "#/components/schemas/ColumnRequest"
            }
          },
          "dynamicMetaTags" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "integer",
              "format" : "int32"
            },
            "description" : "Specifies the key value pairs of the metadata fields with the associated column ids"
          }
        },
        "example" : {
          "label" : "Test Table",
          "name" : "test_table",
          "columns" : [ {
            "name" : "text_column",
            "label" : "Text Column",
            "id" : "1",
            "type" : "TEXT"
          } ],
          "useForPages" : true,
          "allowChildTables" : true,
          "enableChildTablePages" : false,
          "dynamicMetaTags" : { },
          "allowPublicApiAccess" : false
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "invalidPropertyName" : [ "propertyValue" ],
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "An error occurred"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "BatchResponseHubDbTableRowV3WithErrors" : {
        "required" : [ "completedAt", "results", "startedAt", "status" ],
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          },
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/HubDbTableRowV3"
            }
          },
          "numErrors" : {
            "type" : "integer",
            "format" : "int32"
          },
          "errors" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/StandardError"
            }
          },
          "requestedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "completedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "CollectionResponseApiUsageNoPaging" : {
[...]
