{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "FrontRouterService",
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.hubapiqa.com"
  } ],
  "tags" : [ {
    "name" : "Api_Collection"
  }, {
    "name" : "Documentation"
  }, {
    "name" : "Send_Status"
  }, {
    "name" : "Webhook"
  } ],
  "paths" : {
    "/api-catalog-public/v1/apis/{pathRoot}" : {
      "get" : {
        "tags" : [ "Api_Collection" ],
        "operationId" : "get-/api-catalog-public/v1/apis/{pathRoot}",
        "parameters" : [ {
          "name" : "pathRoot",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "pattern" : ".+",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : { }
                }
              },
              "application/yaml" : {
                "schema" : {
                  "type" : "object",
                  "properties" : { }
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/api-catalog-public/v1/documentation/search" : {
      "get" : {
        "tags" : [ "Documentation" ],
        "operationId" : "get-/api-catalog-public/v1/documentation/search",
        "parameters" : [ {
          "name" : "q",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "prefix",
          "in" : "query",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicDocumentationNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/api-catalog-public/v1/apis" : {
      "get" : {
        "tags" : [ "Api_Collection" ],
        "operationId" : "get-/api-catalog-public/v1/apis",
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicApiNoPaging"
                }
              },
              "application/yaml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CollectionResponsePublicApiNoPaging"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/marketing/v3/email/send-statuses/{statusId}" : {
      "get" : {
        "tags" : [ "Send_Status" ],
        "summary" : "Returns the status of an email send.",
        "description" : "Get the status of an email send.",
        "operationId" : "get-/marketing/v3/email/send-statuses/{statusId}",
        "parameters" : [ {
          "name" : "statusId",
          "in" : "path",
          "description" : "The statusId of the email send. Returned when sending asynchronously through the Transactional Single Send API.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmailSendStatusView"
                }
              }
            }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ {
          "oauth2_legacy" : [ "transactional-email" ]
        }, {
          "private_apps_legacy" : [ "transactional-email" ]
        } ]
      }
    },
    "/front/router/webhooks/cst" : {
      "post" : {
        "tags" : [ "Webhook" ],
        "operationId" : "post-/front/router/webhooks/cst",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FrontEvent"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    },
    "/front/router/webhooks/billing" : {
      "post" : {
        "tags" : [ "Webhook" ],
        "operationId" : "post-/front/router/webhooks/billing",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FrontEvent"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "content" : { }
          },
          "default" : {
            "$ref" : "#/components/responses/Error"
          }
        },
        "security" : [ ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "FrontLinks" : {
        "required" : [ "related" ],
        "type" : "object",
        "properties" : {
          "related" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            }
          }
        }
      },
      "FrontEvent" : {
        "required" : [ "conversation" ],
        "type" : "object",
        "properties" : {
          "conversation" : {
            "$ref" : "#/components/schemas/FrontConversation"
          }
        }
      },
      "PublicFeature" : {
        "required" : [ "openAPI", "stage" ],
        "type" : "object",
        "properties" : {
          "openAPI" : {
            "type" : "string"
          },
          "stage" : {
            "type" : "string",
            "enum" : [ "ALPHA", "PRIVATE_BETA", "DEVELOPER_PREVIEW", "LATEST", "STABLE", "DEPRECATED", "ARCHIVED" ]
          }
        }
      },
      "Error" : {
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error",
            "example" : "{\"message\":\"Invalid input (details will vary based on the error)\",\"correlationId\":\"aeb5f871-7f07-4993-9211-075dc63e7cbf\",\"category\":\"VALIDATION_ERROR\",\"links\":{\"knowledge-base\":\"https://www.hubspot.com/products/service/knowledge-base\"}}"
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : "{\"message\":\"Invalid input (details will vary based on the error)\",\"correlationId\":\"aeb5f871-7f07-4993-9211-075dc63e7cbf\",\"category\":\"VALIDATION_ERROR\",\"links\":{\"knowledge-base\":\"https://www.hubspot.com/products/service/knowledge-base\"}}"
          },
          "correlationId" : {
            "type" : "string",
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid"
          },
          "links" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "string"
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "example" : "{\"message\":\"Invalid input (details will vary based on the error)\",\"correlationId\":\"aeb5f871-7f07-4993-9211-075dc63e7cbf\",\"category\":\"VALIDATION_ERROR\",\"links\":{\"knowledge-base\":\"https://www.hubspot.com/products/service/knowledge-base\"}}"
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "example" : "{\"message\":\"Invalid input (details will vary based on the error)\",\"correlationId\":\"aeb5f871-7f07-4993-9211-075dc63e7cbf\",\"category\":\"VALIDATION_ERROR\",\"links\":{\"knowledge-base\":\"https://www.hubspot.com/products/service/knowledge-base\"}}"
          },
          "category" : {
            "type" : "string",
            "description" : "The error category",
            "example" : "{\"message\":\"Invalid input (details will vary based on the error)\",\"correlationId\":\"aeb5f871-7f07-4993-9211-075dc63e7cbf\",\"category\":\"VALIDATION_ERROR\",\"links\":{\"knowledge-base\":\"https://www.hubspot.com/products/service/knowledge-base\"}}"
          },
          "errors" : {
            "type" : "array",
            "description" : "further information about the error",
            "example" : "{\"message\":\"Invalid input (details will vary based on the error)\",\"correlationId\":\"aeb5f871-7f07-4993-9211-075dc63e7cbf\",\"category\":\"VALIDATION_ERROR\",\"links\":{\"knowledge-base\":\"https://www.hubspot.com/products/service/knowledge-base\"}}",
            "items" : {
              "$ref" : "#/components/schemas/ErrorDetail"
            }
          }
        },
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        }
      },
      "FrontConversationRecipient" : {
        "required" : [ "handle", "role" ],
        "type" : "object",
        "properties" : {
          "role" : {
            "type" : "string"
          },
          "handle" : {
            "type" : "string"
          }
        }
      },
      "PublicDocumentation" : {
        "required" : [ "api", "description", "endpointUrl", "method", "path", "summary", "topic", "version" ],
        "type" : "object",
        "properties" : {
          "summary" : {
            "type" : "string"
          },
          "path" : {
            "type" : "string"
          },
          "method" : {
            "type" : "string"
          },
          "endpointUrl" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "topic" : {
            "type" : "string"
          },
          "api" : {
            "type" : "string"
          },
          "version" : {
            "type" : "string"
          }
        }
      },
      "ErrorDetail" : {
        "required" : [ "message" ],
        "type" : "object",
        "properties" : {
          "subCategory" : {
            "type" : "string",
            "description" : "A specific category that contains more specific detail about the error"
          },
          "code" : {
            "type" : "string",
            "description" : "The status code associated with the error detail"
          },
          "in" : {
            "type" : "string",
            "description" : "The name of the field or parameter in which the error was found."
          },
          "context" : {
            "type" : "object",
            "additionalProperties" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            },
            "description" : "Context about the error condition",
            "example" : {
              "missingScopes" : [ "scope1", "scope2" ]
            }
          },
          "message" : {
            "type" : "string",
            "description" : "A human readable message describing the error along with remediation steps where appropriate"
          }
        }
      },
      "EmailSendStatusView" : {
        "required" : [ "status", "statusId" ],
        "type" : "object",
        "properties" : {
          "eventId" : {
            "$ref" : "#/components/schemas/EventIdView"
          },
          "completedAt" : {
            "type" : "string",
            "description" : "Time when the send was completed.",
            "format" : "date-time"
          },
          "statusId" : {
            "type" : "string",
            "description" : "Identifier used to query the status of the send."
          },
          "sendResult" : {
            "type" : "string",
            "description" : "Result of the send.",
            "enum" : [ "SENT", "IDEMPOTENT_IGNORE", "QUEUED", "IDEMPOTENT_FAIL", "THROTTLED", "EMAIL_DISABLED", "PORTAL_SUSPENDED", "INVALID_TO_ADDRESS", "BLOCKED_DOMAIN", "PREVIOUSLY_BOUNCED", "EMAIL_UNCONFIRMED", "PREVIOUS_SPAM", "PREVIOUSLY_UNSUBSCRIBED_MESSAGE", "PREVIOUSLY_UNSUBSCRIBED_PORTAL", "INVALID_FROM_ADDRESS", "CAMPAIGN_CANCELLED", "VALIDATION_FAILED", "MTA_IGNORE", "BLOCKED_ADDRESS", "PORTAL_OVER_LIMIT", "PORTAL_EXPIRED", "PORTAL_MISSING_MARKETING_SCOPE", "MISSING_TEMPLATE_PROPERTIES", "MISSING_REQUIRED_PARAMETER", "PORTAL_AUTHENTICATION_FAILURE", "MISSING_CONTENT", "CORRUPT_INPUT", "TEMPLATE_RENDER_EXCEPTION", "GRAYMAIL_SUPPRESSED", "UNCONFIGURED_SENDING_DOMAIN", "UNDELIVERABLE", "CANCELLED_ABUSE", "QUARANTINED_ADDRESS", "ADDRESS_ONLY_ACCEPTED_ON_PROD", "PORTAL_NOT_AUTHORIZED_FOR_APPLICATION", "ADDRESS_LIST_BOMBED", "ADDRESS_OPTED_OUT", "RECIPIENT_FATIGUE_SUPPRESSED", "TOO_MANY_RECIPIENTS", "PREVIOUSLY_UNSUBSCRIBED_BRAND", "NON_MARKETABLE_CONTACT", "PREVIOUSLY_UNSUBSCRIBED_BUSINESS_UNIT", "GDPR_DOI_ENABLED" ]
          },
          "requestedAt" : {
            "type" : "string",
            "description" : "Time when the send was requested.",
            "format" : "date-time"
          },
          "startedAt" : {
            "type" : "string",
            "description" : "Time when the send began processing.",
            "format" : "date-time"
          },
          "status" : {
            "type" : "string",
            "description" : "Status of the send request.",
            "enum" : [ "PENDING", "PROCESSING", "CANCELED", "COMPLETE" ]
          }
        },
        "description" : "Describes the status of an email send request."
      },
      "CollectionResponsePublicDocumentationNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicDocumentation"
            }
          }
        }
      },
      "FrontConversation" : {
        "required" : [ "_links", "existingConversationTagIds", "id", "recipient", "tags" ],
        "type" : "object",
        "properties" : {
          "_links" : {
            "$ref" : "#/components/schemas/FrontLinks"
          },
          "recipient" : {
            "$ref" : "#/components/schemas/FrontConversationRecipient"
          },
          "existingConversationTagIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "messagesLink" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "tags" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FrontTag"
            }
          }
        }
      },
      "EventIdView" : {
        "required" : [ "created", "id" ],
        "type" : "object",
        "properties" : {
          "created" : {
            "type" : "string",
            "format" : "date-time"
          },
          "id" : {
            "type" : "string",
            "format" : "uuid"
          }
        }
      },
      "FrontTag" : {
        "required" : [ "id", "name" ],
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          }
        }
      },
      "CollectionResponsePublicApiNoPaging" : {
        "required" : [ "results" ],
        "type" : "object",
        "properties" : {
          "results" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PublicApi"
            }
          }
        }
      },
      "PublicApi" : {
        "required" : [ "features", "name" ],
        "type" : "object",
        "properties" : {
          "features" : {
            "type" : "object",
            "additionalProperties" : {
              "$ref" : "#/components/schemas/PublicFeature"
            }
          },
          "name" : {
            "type" : "string"
          }
        }
      }
    },
    "responses" : {
      "Error" : {
        "description" : "An error occurred.",
        "content" : {
          "*/*" : {
            "schema" : {
              "$ref" : "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "oauth2_legacy" : {
        "type" : "oauth2",
        "flows" : {
          "authorizationCode" : {
            "authorizationUrl" : "https://app.hubspot.com/oauth/authorize",
            "tokenUrl" : "https://api.hubapi.com/oauth/v1/token",
            "scopes" : {
              "transactional-email" : "Transactional Emails"
            }
          }
        }
      },
      "private_apps_legacy" : {
        "type" : "apiKey",
        "name" : "private-app-legacy",
        "in" : "header"
      }
    }
  }
}