{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Files",
    "description" : "Upload and manage files.",
    "termsOfService" : null,
    "contact" : null,
    "license" : null,
    "version" : "v3",
    "extensions" : null
  },
  "externalDocs" : null,
  "servers" : [ {
    "url" : "https://api.hubapiqa.com",
    "description" : null,
    "variables" : null,
    "extensions" : null
  } ],
  "security" : null,
  "tags" : [ {
    "name" : "Files",
    "description" : null,
    "externalDocs" : null,
    "extensions" : null
  }, {
    "name" : "Folders",
    "description" : null,
    "externalDocs" : null,
    "extensions" : null
  } ],
  "paths" : {
    "/files/v3/files/{fileId}/gdpr-delete" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : null,
      "delete" : {
        "tags" : [ "Files" ],
        "summary" : "GDPR delete",
        "description" : "GDRP delete file",
        "externalDocs" : null,
        "operationId" : "delete-/files/v3/files/{fileId}/gdpr-delete",
        "parameters" : [ {
          "name" : "fileId",
          "in" : "path",
          "description" : "ID of file to GDPR delete",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : "\\d+",
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "204" : {
            "description" : "No content",
            "headers" : null,
            "content" : { },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files.write" ]
        }, {
          "private_apps_legacy" : [ "files.write" ]
        }, {
          "oauth2_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/files/v3/folders/{folderId}" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Folders" ],
        "summary" : "Get folder",
        "description" : "Get folder by ID",
        "externalDocs" : null,
        "operationId" : "get-/files/v3/folders/{folderId}",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "ID of desired folder",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : "\\d+",
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "Properties to set on returned folder.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/Folder",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "files.read" ]
        }, {
          "private_apps_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : null,
      "delete" : {
        "tags" : [ "Folders" ],
        "summary" : "Delete folder.",
        "description" : "Delete folder by ID.",
        "externalDocs" : null,
        "operationId" : "delete-/files/v3/folders/{folderId}",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "ID of folder to delete.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : "\\d+",
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "204" : {
            "description" : "No content",
            "headers" : null,
            "content" : { },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files.write" ]
        }, {
          "private_apps_legacy" : [ "files.write" ]
        }, {
          "oauth2_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/files/v3/files/{fileId}" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Files" ],
        "summary" : "Get file.",
        "description" : "Get file by ID.",
        "externalDocs" : null,
        "operationId" : "get-/files/v3/files/{fileId}",
        "parameters" : [ {
          "name" : "fileId",
          "in" : "path",
          "description" : "ID of the desired file.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : "\\d+",
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/File",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "files.read" ]
        }, {
          "private_apps_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : {
        "tags" : [ "Files" ],
        "summary" : "Replace file.",
        "description" : "Replace existing file data with new file data. Can be used to change image content without having to upload a new file and update all references.",
        "externalDocs" : null,
        "operationId" : "put-/files/v3/files/{fileId}",
        "parameters" : [ {
          "name" : "fileId",
          "in" : "path",
          "description" : "ID of the desired file.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : "\\d+",
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : {
          "description" : null,
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : "object",
                "not" : null,
                "properties" : {
                  "file" : {
                    "title" : null,
                    "multipleOf" : null,
                    "maximum" : null,
                    "exclusiveMaximum" : null,
                    "minimum" : null,
                    "exclusiveMinimum" : null,
                    "maxLength" : null,
                    "minLength" : null,
                    "pattern" : null,
                    "maxItems" : null,
                    "minItems" : null,
                    "uniqueItems" : null,
                    "maxProperties" : null,
                    "minProperties" : null,
                    "required" : null,
                    "type" : "string",
                    "not" : null,
                    "properties" : null,
                    "additionalProperties" : null,
                    "description" : "File data that will replace existing file in the file manager.",
                    "format" : "binary",
                    "$ref" : null,
                    "nullable" : null,
                    "readOnly" : null,
                    "writeOnly" : null,
                    "example" : null,
                    "externalDocs" : null,
                    "deprecated" : null,
                    "xml" : null,
                    "extensions" : null,
                    "discriminator" : null,
                    "default" : null,
                    "enum" : null
                  },
                  "charsetHunch" : {
                    "title" : null,
                    "multipleOf" : null,
                    "maximum" : null,
                    "exclusiveMaximum" : null,
                    "minimum" : null,
                    "exclusiveMinimum" : null,
                    "maxLength" : null,
                    "minLength" : null,
                    "pattern" : null,
                    "maxItems" : null,
                    "minItems" : null,
                    "uniqueItems" : null,
                    "maxProperties" : null,
                    "minProperties" : null,
                    "required" : null,
                    "type" : "string",
                    "not" : null,
                    "properties" : null,
                    "additionalProperties" : null,
                    "description" : "Character set of given file data.",
                    "format" : null,
                    "$ref" : null,
                    "nullable" : null,
                    "readOnly" : null,
                    "writeOnly" : null,
                    "example" : null,
                    "externalDocs" : null,
                    "deprecated" : null,
                    "xml" : null,
                    "extensions" : null,
                    "discriminator" : null,
                    "default" : null,
                    "enum" : null
                  },
                  "options" : {
                    "title" : null,
                    "multipleOf" : null,
                    "maximum" : null,
                    "exclusiveMaximum" : null,
                    "minimum" : null,
                    "exclusiveMinimum" : null,
                    "maxLength" : null,
                    "minLength" : null,
                    "pattern" : null,
                    "maxItems" : null,
                    "minItems" : null,
                    "uniqueItems" : null,
                    "maxProperties" : null,
                    "minProperties" : null,
                    "required" : null,
                    "type" : "string",
                    "not" : null,
                    "properties" : null,
                    "additionalProperties" : null,
                    "description" : "JSON String representing FileReplaceOptions",
                    "format" : null,
                    "$ref" : null,
                    "nullable" : null,
                    "readOnly" : null,
                    "writeOnly" : null,
                    "example" : null,
                    "externalDocs" : null,
                    "deprecated" : null,
                    "xml" : null,
                    "extensions" : null,
                    "discriminator" : null,
                    "default" : null,
                    "enum" : null
                  }
                },
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : null,
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : null,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/File",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files.write" ]
        }, {
          "private_apps_legacy" : [ "files.write" ]
        }, {
          "oauth2_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "post" : null,
      "delete" : {
        "tags" : [ "Files" ],
        "summary" : "Delete file",
        "description" : "Delete file by ID",
        "externalDocs" : null,
        "operationId" : "delete-/files/v3/files/{fileId}",
        "parameters" : [ {
          "name" : "fileId",
          "in" : "path",
          "description" : "FileId to delete",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : "\\d+",
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "204" : {
            "description" : "No content",
            "headers" : null,
            "content" : { },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files.write" ]
        }, {
          "private_apps_legacy" : [ "files.write" ]
        }, {
          "oauth2_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "options" : null,
      "head" : null,
      "patch" : {
        "tags" : [ "Files" ],
        "summary" : "update file properties",
        "description" : "Update properties of file by ID.",
        "externalDocs" : null,
        "operationId" : "patch-/files/v3/files/{fileId}",
        "parameters" : [ {
          "name" : "fileId",
          "in" : "path",
          "description" : "ID of file to update",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : "\\d+",
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : {
          "description" : "Options to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/FileUpdateInput",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/File",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files.write" ]
        }, {
          "private_apps_legacy" : [ "files.write" ]
        }, {
          "oauth2_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/files/v3/files" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : {
        "tags" : [ "Files" ],
        "summary" : "Upload file",
        "description" : "Upload a single file with content specified in request body.",
        "externalDocs" : null,
        "operationId" : "post-/files/v3/files",
        "parameters" : [ ],
        "requestBody" : {
          "description" : null,
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : "object",
                "not" : null,
                "properties" : {
                  "file" : {
                    "title" : null,
                    "multipleOf" : null,
                    "maximum" : null,
                    "exclusiveMaximum" : null,
                    "minimum" : null,
                    "exclusiveMinimum" : null,
                    "maxLength" : null,
                    "minLength" : null,
                    "pattern" : null,
                    "maxItems" : null,
                    "minItems" : null,
                    "uniqueItems" : null,
                    "maxProperties" : null,
                    "minProperties" : null,
                    "required" : null,
                    "type" : "string",
                    "not" : null,
                    "properties" : null,
                    "additionalProperties" : null,
                    "description" : "File to be uploaded.",
                    "format" : "binary",
                    "$ref" : null,
                    "nullable" : null,
                    "readOnly" : null,
                    "writeOnly" : null,
                    "example" : null,
                    "externalDocs" : null,
                    "deprecated" : null,
                    "xml" : null,
                    "extensions" : null,
                    "discriminator" : null,
                    "default" : null,
                    "enum" : null
                  },
                  "folderId" : {
                    "title" : null,
                    "multipleOf" : null,
                    "maximum" : null,
                    "exclusiveMaximum" : null,
                    "minimum" : null,
                    "exclusiveMinimum" : null,
                    "maxLength" : null,
                    "minLength" : null,
                    "pattern" : null,
                    "maxItems" : null,
                    "minItems" : null,
                    "uniqueItems" : null,
                    "maxProperties" : null,
                    "minProperties" : null,
                    "required" : null,
                    "type" : "string",
                    "not" : null,
                    "properties" : null,
                    "additionalProperties" : null,
                    "description" : "Either 'folderId' or 'folderPath' is required. folderId is the ID of the folder the file will be uploaded to.",
                    "format" : null,
                    "$ref" : null,
                    "nullable" : null,
                    "readOnly" : null,
                    "writeOnly" : null,
                    "example" : null,
                    "externalDocs" : null,
                    "deprecated" : null,
                    "xml" : null,
                    "extensions" : null,
                    "discriminator" : null,
                    "default" : null,
                    "enum" : null
                  },
                  "folderPath" : {
                    "title" : null,
                    "multipleOf" : null,
                    "maximum" : null,
                    "exclusiveMaximum" : null,
                    "minimum" : null,
                    "exclusiveMinimum" : null,
                    "maxLength" : null,
                    "minLength" : null,
                    "pattern" : null,
                    "maxItems" : null,
                    "minItems" : null,
                    "uniqueItems" : null,
                    "maxProperties" : null,
                    "minProperties" : null,
                    "required" : null,
                    "type" : "string",
                    "not" : null,
                    "properties" : null,
                    "additionalProperties" : null,
                    "description" : "Either 'folderPath' or 'folderId' is required. This field represents the destination folder path for the uploaded file. If a path doesn't exist, the system will try to create one.",
                    "format" : null,
                    "$ref" : null,
                    "nullable" : null,
                    "readOnly" : null,
                    "writeOnly" : null,
                    "example" : null,
                    "externalDocs" : null,
                    "deprecated" : null,
                    "xml" : null,
                    "extensions" : null,
                    "discriminator" : null,
                    "default" : null,
                    "enum" : null
                  },
                  "fileName" : {
                    "title" : null,
                    "multipleOf" : null,
                    "maximum" : null,
                    "exclusiveMaximum" : null,
                    "minimum" : null,
                    "exclusiveMinimum" : null,
                    "maxLength" : null,
                    "minLength" : null,
                    "pattern" : null,
                    "maxItems" : null,
                    "minItems" : null,
                    "uniqueItems" : null,
                    "maxProperties" : null,
                    "minProperties" : null,
                    "required" : null,
                    "type" : "string",
                    "not" : null,
                    "properties" : null,
                    "additionalProperties" : null,
                    "description" : "Desired name for the uploaded file.",
                    "format" : null,
                    "$ref" : null,
                    "nullable" : null,
                    "readOnly" : null,
                    "writeOnly" : null,
                    "example" : null,
                    "externalDocs" : null,
                    "deprecated" : null,
                    "xml" : null,
                    "extensions" : null,
                    "discriminator" : null,
                    "default" : null,
                    "enum" : null
                  },
                  "charsetHunch" : {
                    "title" : null,
                    "multipleOf" : null,
                    "maximum" : null,
                    "exclusiveMaximum" : null,
                    "minimum" : null,
                    "exclusiveMinimum" : null,
                    "maxLength" : null,
                    "minLength" : null,
                    "pattern" : null,
                    "maxItems" : null,
                    "minItems" : null,
                    "uniqueItems" : null,
                    "maxProperties" : null,
                    "minProperties" : null,
                    "required" : null,
                    "type" : "string",
                    "not" : null,
                    "properties" : null,
                    "additionalProperties" : null,
                    "description" : "Character set of the uploaded file.",
                    "format" : null,
                    "$ref" : null,
                    "nullable" : null,
                    "readOnly" : null,
                    "writeOnly" : null,
                    "example" : null,
                    "externalDocs" : null,
                    "deprecated" : null,
                    "xml" : null,
                    "extensions" : null,
                    "discriminator" : null,
                    "default" : null,
                    "enum" : null
                  },
                  "options" : {
                    "title" : null,
                    "multipleOf" : null,
                    "maximum" : null,
                    "exclusiveMaximum" : null,
                    "minimum" : null,
                    "exclusiveMinimum" : null,
                    "maxLength" : null,
                    "minLength" : null,
                    "pattern" : null,
                    "maxItems" : null,
                    "minItems" : null,
                    "uniqueItems" : null,
                    "maxProperties" : null,
                    "minProperties" : null,
                    "required" : null,
                    "type" : "string",
                    "not" : null,
                    "properties" : null,
                    "additionalProperties" : null,
                    "description" : "JSON string representing FileUploadOptions.",
                    "format" : null,
                    "$ref" : null,
                    "nullable" : null,
                    "readOnly" : null,
                    "writeOnly" : null,
                    "example" : null,
                    "externalDocs" : null,
                    "deprecated" : null,
                    "xml" : null,
                    "extensions" : null,
                    "discriminator" : null,
                    "default" : null,
                    "enum" : null
                  }
                },
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : null,
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : null,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/File",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files.write" ]
        }, {
          "private_apps_legacy" : [ "files.write" ]
        }, {
          "oauth2_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/files/v3/folders" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : {
        "tags" : [ "Folders" ],
        "summary" : "Create folder.",
        "description" : "Creates a folder.",
        "externalDocs" : null,
        "operationId" : "post-/files/v3/folders",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "Folder creation options",
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/FolderInput",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/Folder",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files.write" ]
        }, {
          "private_apps_legacy" : [ "files.write" ]
        }, {
          "oauth2_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/files/v3/files/{fileId}/signed-url" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Files" ],
        "summary" : "Get signed URL to access private file.",
        "description" : "Generates signed URL that allows temporary access to a private file.",
        "externalDocs" : null,
        "operationId" : "get-/files/v3/files/{fileId}/signed-url",
        "parameters" : [ {
          "name" : "fileId",
          "in" : "path",
          "description" : "ID of file.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : "\\d+",
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "size",
          "in" : "query",
          "description" : "For image files. This will resize the image to the desired size before sharing. Does not affect the original file, just the file served by this signed URL.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : [ "thumb", "icon", "medium", "preview" ]
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "expirationSeconds",
          "in" : "query",
          "description" : "How long in seconds the link will provide access to the file.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int64",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "upscale",
          "in" : "query",
          "description" : "If size is provided, this will upscale the image to fit the size dimensions.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "boolean",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/SignedUrl",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "files.read" ]
        }, {
          "private_apps_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : null,
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/files/v3/files/stat/{path}" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Files" ],
        "summary" : null,
        "description" : null,
        "externalDocs" : null,
        "operationId" : "get-/files/v3/files/stat/{path}",
        "parameters" : [ {
          "name" : "path",
          "in" : "path",
          "description" : null,
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : ".+",
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/FileStat",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "files.read" ]
        }, {
          "private_apps_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.read" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : null,
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/files/v3/files/import-from-url/async" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : {
        "tags" : [ "Files" ],
        "summary" : "Import a file from a URL into the file manager.",
        "description" : "Asynchronously imports the file at the given URL into the file manager.",
        "externalDocs" : null,
        "operationId" : "post-/files/v3/files/import-from-url/async",
        "parameters" : [ ],
        "requestBody" : {
          "description" : null,
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/ImportFromUrlInput",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "202" : {
            "description" : "accepted",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/ImportFromUrlTaskLocator",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "private_apps_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files" ]
        }, {
          "oauth2_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files.write" ]
        }, {
          "private_apps_legacy" : [ "files.write" ]
        }, {
          "oauth2_legacy" : [ "filemanager.write" ]
        }, {
          "private_apps_legacy" : [ "files.ui_hidden.write" ]
        }, {
          "oauth2_legacy" : [ "files" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/files/v3/folders/search" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Folders" ],
        "summary" : "Search folders",
        "description" : "Search for folders. Does not contain hidden or archived folders.",
        "externalDocs" : null,
        "operationId" : "get-/files/v3/folders/search",
        "parameters" : [ {
          "name" : "properties",
          "in" : "query",
          "description" : "Properties that should be included in the returned folders.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The maximum offset of items for a given search is 10000. Narrow your search down if you are reaching this limit.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "before",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit of results to return. Max limit is 100.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int32",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Sort results by given property. For example -name sorts by name field descending, name sorts by name field ascending.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Search folder by given ID.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "createdAt",
          "in" : "query",
          "description" : "Search for folders with the given creation timestamp.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "date-time",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "createdAtLte",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "date-time",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "createdAtGte",
          "in" : "query",
          "description" : null,
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "date-time",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "updatedAt",
          "in" : "query",
          "description" : "Search for folder at given update timestamp.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "date-time",
            "$ref" : null,
[...]
