{"openapi":"3.0.1","info":{"title":"List App","description":"List definition CRUD operations and memberships discovery and management","termsOfService":null,"contact":null,"license":null,"version":"v3","extensions":null},"externalDocs":null,"servers":[{"url":"https://api.hubapiqa.com","description":null,"variables":null,"extensions":null}],"security":null,"tags":[{"name":"Memberships","description":null,"externalDocs":null,"extensions":null},{"name":"Lists","description":null,"externalDocs":null,"extensions":null}],"paths":{"/list-app/v3/list-memberships/{listId}/add":{"summary":null,"description":null,"get":null,"put":{"tags":["Memberships"],"summary":"Adds records with ids provided to the list","description":"Add members to the list","externalDocs":null,"operationId":"put-/list-app/v3/list-memberships/{listId}/add","parameters":[{"name":"listId","in":"path","description":"List identifier","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":"List of recordIds to add to the list","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int64","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"204":{"description":"Operation successful","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.write","crm.lists.read"]},{"oauth2":["crm.lists.write","crm.lists.read"]}],"servers":null,"extensions":null},"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/list-app/v3/list-memberships/{listId}/add-from/{sourceListId}":{"summary":null,"description":null,"get":null,"put":{"tags":["Memberships"],"summary":"Adds to target list all the members from source list","description":"Add to list all the members of source list","externalDocs":null,"operationId":"put-/list-app/v3/list-memberships/{listId}/add-from/{sourceListId}","parameters":[{"name":"listId","in":"path","description":"Target list identifier","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"sourceListId","in":"path","description":"Source list identifier","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"204":{"description":"Operation successful","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.write","crm.lists.read"]},{"oauth2":["crm.lists.write","crm.lists.read"]}],"servers":null,"extensions":null},"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/list-app/v3/lists/{listId}/restore":{"summary":null,"description":null,"get":null,"put":{"tags":["Lists"],"summary":"Restore the recently deleted list. Only lists deleted within 90 days can be restored","description":"Restore list definition","externalDocs":null,"operationId":"put-/list-app/v3/lists/{listId}/restore","parameters":[{"name":"listId","in":"path","description":"List identifier","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"204":{"description":"No content","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.write","crm.lists.read"]},{"oauth2":["crm.lists.write","crm.lists.read"]}],"servers":null,"extensions":null},"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/list-app/v3/lists/search":{"summary":null,"description":null,"get":null,"put":null,"post":{"tags":["Lists"],"summary":null,"description":null,"externalDocs":null,"operationId":"post-/list-app/v3/lists/search","parameters":[],"requestBody":{"description":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ListAppSearchRequest","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ListAppSearchResult","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.read"]},{"oauth2":["crm.lists.read"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/list-app/v3/lists/{listId}":{"summary":null,"description":null,"get":{"tags":["Lists"],"summary":null,"description":null,"externalDocs":null,"operationId":"get-/list-app/v3/lists/{listId}","parameters":[{"name":"listId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicObjectList","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.read"]},{"oauth2":["crm.lists.read"]}],"servers":null,"extensions":null},"put":null,"post":null,"delete":{"tags":["Lists"],"summary":"Deletes the list definition with possibility to restore it for up to 90 days after deletion","description":"Remove list definition","externalDocs":null,"operationId":"delete-/list-app/v3/lists/{listId}","parameters":[{"name":"listId","in":"path","description":"List identifier","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"204":{"description":"No content","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.write","crm.lists.read"]},{"oauth2":["crm.lists.write","crm.lists.read"]}],"servers":null,"extensions":null},"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/list-app/v3/list-memberships/{listId}":{"summary":null,"description":null,"get":{"tags":["Memberships"],"summary":"Returns ids of records that are members of the list ordered by recordId","description":"Get memberships (recordId order)","externalDocs":null,"operationId":"get-/list-app/v3/list-memberships/{listId}","parameters":[{"name":"listId","in":"path","description":"List identifier","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"after","in":"query","description":"The paging cursor token of the last successfully read resources. Calls that only contain partial memberships for the list will contain *paging.prev* and/or *paging.next* data which includes ***before***/***after*** offsets where applicable. Record IDs are ordered in ascending order. This parameter will take precedence over ***before*** if both are provided","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"before","in":"query","description":"The paging cursor token for records that come before last successfully read resources . Calls that only contain partial memberships for the list will contain *paging.prev* and/or *paging.next* data which includes ***before***/***after*** offsets where applicable. Record IDs are ordered in descending order.This parameter will be ignored if both ***before*** and ***after*** are used together within the same request.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"limit","in":"query","description":"This parameter lets you specify the max number of records returned within API response. Default value (if it isn’t specified) is 100 records. Maximum records count that can be returned is 250.","required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":100,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/CollectionResponseString","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":{"results":["202","239"],"paging":{"next":{"after":"AAAAAAAAAS0%3D","link":"https://private.hubapi.com/list-app/v3/list-memberships/195?portalId=865747473&limit=2&after=AAAAAAAAAS0%3D"},"prev":{"before":"AAAAAAAAAMk%3D","link":"https://private.hubapi.com/list-app/v3/list-memberships/195?before=AAAAAAAAAMk%3D&portalId=865747473&limit=2"}}},"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.read"]},{"oauth2":["crm.lists.read"]}],"servers":null,"extensions":null},"put":{"tags":["Memberships"],"summary":"Add and/or remove records that have already been created in the system to/from list within the same API call.","description":"Edit list memberships","externalDocs":null,"operationId":"put-/list-app/v3/list-memberships/{listId}","parameters":[{"name":"listId","in":"path","description":"List identifier","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":"MembershipChangeRequest","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/MembershipChangeRequest","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"204":{"description":"Operation successful","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.write","crm.lists.read"]},{"oauth2":["crm.lists.write","crm.lists.read"]}],"servers":null,"extensions":null},"post":null,"delete":{"tags":["Memberships"],"summary":"Removes all the members from the list","description":"Delete all members from list","externalDocs":null,"operationId":"delete-/list-app/v3/list-memberships/{listId}","parameters":[{"name":"listId","in":"path","description":"List identifier","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"204":{"description":"Operation successful","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.write","crm.lists.read"]},{"oauth2":["crm.lists.write","crm.lists.read"]}],"servers":null,"extensions":null},"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/list-app/v3/lists":{"summary":null,"description":null,"get":{"tags":["Lists"],"summary":null,"description":null,"externalDocs":null,"operationId":"get-/list-app/v3/lists","parameters":[{"name":"listIds","in":"query","description":null,"required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ListsByIdResult","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.read"]},{"oauth2":["crm.lists.read"]}],"servers":null,"extensions":null},"put":null,"post":{"tags":["Lists"],"summary":null,"description":null,"externalDocs":null,"operationId":"post-/list-app/v3/lists","parameters":[],"requestBody":{"description":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/ListCreateRequest","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicObjectList","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"oauth2":["crm.lists.write"]},{"private_apps":["crm.lists.write"]}],"servers":null,"extensions":null},"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/list-app/v3/list-memberships/{listId}/remove":{"summary":null,"description":null,"get":null,"put":{"tags":["Memberships"],"summary":"Removes records with ids provided from the list","description":"Remove records from the list","externalDocs":null,"operationId":"put-/list-app/v3/list-memberships/{listId}/remove","parameters":[{"name":"listId","in":"path","description":"List identifier","required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":"List of recordIds to remove from the list","content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int64","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"204":{"description":"Operation successful","headers":null,"content":{},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.write","crm.lists.read"]},{"oauth2":["crm.lists.write","crm.lists.read"]}],"servers":null,"extensions":null},"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/list-app/v3/lists/{listId}/update-list-filters":{"summary":null,"description":null,"get":null,"put":{"tags":["Lists"],"summary":null,"description":null,"externalDocs":null,"operationId":"put-/list-app/v3/lists/{listId}/update-list-filters","parameters":[{"name":"listId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"enrollObjectsInWorkflows","in":"query","description":null,"required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":false,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":{"description":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicFilterBranchIF","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"required":true,"extensions":null,"$ref":null},"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicObjectList","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.write","crm.lists.read"]},{"oauth2":["crm.lists.write","crm.lists.read"]}],"servers":null,"extensions":null},"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/list-app/v3/lists/{listId}/update-list-name":{"summary":null,"description":null,"get":null,"put":{"tags":["Lists"],"summary":null,"description":null,"externalDocs":null,"operationId":"put-/list-app/v3/lists/{listId}/update-list-name","parameters":[{"name":"listId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"listName","in":"query","description":null,"required":false,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"FORM","explode":true,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicObjectList","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.write","crm.lists.read"]},{"oauth2":["crm.lists.write","crm.lists.read"]}],"servers":null,"extensions":null},"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null},"/list-app/v3/lists/object-type-id/{objectTypeId}/name/{listName}":{"summary":null,"description":null,"get":{"tags":["Lists"],"summary":null,"description":null,"externalDocs":null,"operationId":"get-/list-app/v3/lists/object-type-id/{objectTypeId}/name/{listName}","parameters":[{"name":"listName","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null},{"name":"objectTypeId","in":"path","description":null,"required":true,"deprecated":null,"allowEmptyValue":null,"$ref":null,"style":"SIMPLE","explode":false,"allowReserved":null,"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"content":null,"extensions":null}],"requestBody":null,"responses":{"200":{"description":"successful operation","headers":null,"content":{"application/json":{"schema":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicObjectList","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"examples":null,"example":null,"encoding":null,"extensions":null}},"links":null,"extensions":null,"$ref":null},"default":{"description":null,"headers":null,"content":null,"links":null,"extensions":null,"$ref":"#/components/responses/Error"}},"callbacks":null,"deprecated":null,"security":[{"private_apps":["crm.lists.read"]},{"oauth2":["crm.lists.read"]}],"servers":null,"extensions":null},"put":null,"post":null,"delete":null,"options":null,"head":null,"patch":null,"trace":null,"servers":null,"parameters":null,"$ref":null,"extensions":null}},"components":{"schemas":{"PublicDatePropertyOperation":{"title":"date","multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["day","includeObjectsWithNoValueSet","month","operationType","operatorName","year"],"type":"object","not":null,"properties":{"includeObjectsWithNoValueSet":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"month":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"year":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"operationType":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":"date","enum":["date"]},"operatorName":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"day":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"PublicPropertyAssociationFilterBranch":{"title":"PROPERTY_ASSOCIATION","multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["filterBranchOperator","filterBranchType","filterBranches","filters","objectTypeId","operator","propertyWithObjectId"],"type":"object","not":null,"properties":{"filterBranchType":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":"PROPERTY_ASSOCIATION","enum":["PROPERTY_ASSOCIATION"]},"filterBranches":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"allOf":null,"anyOf":null,"oneOf":[{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicOrFilterBranch","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAndFilterBranch","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicNotAllFilterBranch","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicNotAnyFilterBranch","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicRestrictedFilterBranch","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicUnifiedEventsFilterBranch","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicPropertyAssociationFilterBranch","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAssociationFilterBranch","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}],"default":null,"enum":null},"default":null,"enum":null},"coalescingRefineBy":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"allOf":null,"anyOf":null,"oneOf":[{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicNumOccurrencesRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicSetOccurrencesRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicRelativeComparativeTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicRelativeRangedTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAbsoluteRangedTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAllHistoryRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicTimePointOperation","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicRangedTimeOperation","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}],"default":null,"enum":null},"objectTypeId":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"filterBranchOperator":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"filters":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"array","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"items":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"allOf":null,"anyOf":null,"oneOf":[{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicPropertyFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAssociationInListFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicPageViewAnalyticsFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicCtaAnalyticsFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicEventAnalyticsFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicFormSubmissionFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicFormSubmissionOnPageFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicIntegrationEventFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicEmailSubscriptionFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicCommunicationSubscriptionFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicCampaignInfluencedFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicSurveyMonkeyFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicSurveyMonkeyValueFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicWebinarFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicEmailEventFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicPrivacyAnalyticsFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAdsSearchFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAdsTimeFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicInListFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicNumAssociationsFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicUnifiedEventsFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicPropertyAssociationInListFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicConstantFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicUnifiedEventsInListFilter","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}],"default":null,"enum":null},"default":null,"enum":null},"propertyWithObjectId":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"operator":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"associationListId":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"integer","not":null,"properties":null,"additionalProperties":null,"description":null,"format":"int32","$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"PublicEventAnalyticsFilter":{"title":"EVENT","multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["eventId","filterType","operator"],"type":"object","not":null,"properties":{"eventId":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"coalescingRefineBy":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"allOf":null,"anyOf":null,"oneOf":[{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicNumOccurrencesRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicSetOccurrencesRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicRelativeComparativeTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicRelativeRangedTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAbsoluteRangedTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAllHistoryRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicTimePointOperation","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicRangedTimeOperation","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}],"default":null,"enum":null},"pruningRefineBy":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"allOf":null,"anyOf":null,"oneOf":[{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicNumOccurrencesRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicSetOccurrencesRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicRelativeComparativeTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicRelativeRangedTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAbsoluteComparativeTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAbsoluteRangedTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicAllHistoryRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicTimePointOperation","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicRangedTimeOperation","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}],"default":null,"enum":null},"filterType":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":"EVENT","enum":["EVENT"]},"operator":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"PublicNumberPropertyOperation":{"title":"number","multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["includeObjectsWithNoValueSet","operationType","operatorName","value"],"type":"object","not":null,"properties":{"includeObjectsWithNoValueSet":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"boolean","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"operationType":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":"number","enum":["number"]},"operatorName":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"string","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"value":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":"number","not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null}},"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},"PublicUnifiedEventsFilter":{"title":"UNIFIED_EVENTS","multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":["filterLines","filterType"],"type":"object","not":null,"properties":{"coalescingRefineBy":{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":null,"nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"allOf":null,"anyOf":null,"oneOf":[{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicNumOccurrencesRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicSetOccurrencesRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicRelativeComparativeTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"minimum":null,"exclusiveMinimum":null,"maxLength":null,"minLength":null,"pattern":null,"maxItems":null,"minItems":null,"uniqueItems":null,"maxProperties":null,"minProperties":null,"required":null,"type":null,"not":null,"properties":null,"additionalProperties":null,"description":null,"format":null,"$ref":"#/components/schemas/PublicRelativeRangedTimestampRefineBy","nullable":null,"readOnly":null,"writeOnly":null,"example":null,"externalDocs":null,"deprecated":null,"xml":null,"extensions":null,"discriminator":null,"default":null,"enum":null},{"title":null,"multipleOf":null,"maximum":null,"exclusiveMaximum":null,"m
[...]
