{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "CRM cards",
    "description" : "Allows an app to extend the CRM UI by surfacing custom cards in the sidebar of record pages. These cards are defined up-front as part of app configuration, then populated by external data fetch requests when the record page is accessed by a user.",
    "termsOfService" : null,
    "contact" : null,
    "license" : null,
    "version" : "v3",
    "extensions" : null
  },
  "externalDocs" : null,
  "servers" : [ {
    "url" : "https://api.hubapiqa.com",
    "description" : null,
    "variables" : null,
    "extensions" : null
  } ],
  "security" : null,
  "tags" : [ {
    "name" : "Cards",
    "description" : null,
    "externalDocs" : null,
    "extensions" : null
  }, {
    "name" : "SampleResponse",
    "description" : null,
    "externalDocs" : null,
    "extensions" : null
  } ],
  "paths" : {
    "/crm/v3/extensions/cards-dev/sample-response" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "SampleResponse" ],
        "summary" : "Get sample card detail response",
        "description" : "Returns an example card detail response. This is the payload with displayed details for a card that will be shown to a user. An app should send this in response to the data fetch request.",
        "externalDocs" : null,
        "operationId" : "get-/crm/v3/extensions/cards-dev/sample-response",
        "parameters" : [ ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/IntegratorCardPayloadResponse",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "totalCount" : 1,
                  "allItemsLinkUrl" : "https://example.com/all-items-link-url",
                  "cardLabel" : "Tickets",
                  "topLevelActions" : {
                    "settings" : {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/iframe-contents",
                      "label" : "Edit",
                      "propertyNamesIncluded" : [ "some_crm_property" ]
                    },
                    "primary" : {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/primary-iframe",
                      "label" : "test_label_primary",
                      "propertyNamesIncluded" : [ ]
                    },
                    "secondary" : [ {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/secondary-iframe",
                      "label" : "test_label_secondary",
                      "propertyNamesIncluded" : [ ]
                    } ]
                  },
                  "sections" : [ {
                    "id" : "123",
                    "title" : "API-22: APIs working too fast",
                    "linkUrl" : "http://example.com/1",
                    "tokens" : [ {
                      "name" : "created",
                      "label" : "test_label",
                      "dataType" : "DATE",
                      "value" : "2016-08-04"
                    } ],
                    "actions" : [ {
                      "type" : "ACTION_HOOK",
                      "httpMethod" : "POST",
                      "url" : "https://example.com/action-hook-frame",
                      "label" : "action-hook-label",
                      "propertyNamesIncluded" : [ "email", "firstName" ]
                    }, {
                      "type" : "ACTION_HOOK",
                      "confirmation" : {
                        "prompt" : "action-confirmation-body-prompt",
                        "confirmButtonLabel" : "Continue",
                        "cancelButtonLabel" : "Cancel"
                      },
                      "httpMethod" : "POST",
                      "url" : "https://example.com/confirmation-action-hook",
                      "label" : "confirmation-hook-label",
                      "propertyNamesIncluded" : [ ]
                    }, {
                      "type" : "IFRAME",
                      "width" : 640,
                      "height" : 480,
                      "url" : "https://example.com/iframe-action-label",
                      "label" : "iframe-action-label",
                      "propertyNamesIncluded" : [ "property1", "property2", "property3" ]
                    } ]
                  } ],
                  "responseVersion" : "v3"
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : null,
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/crm/v3/extensions/cards-dev/{appId}" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Cards" ],
        "summary" : "Get all cards",
        "description" : "Returns a list of cards for a given app.",
        "externalDocs" : null,
        "operationId" : "get-/crm/v3/extensions/cards-dev/{appId}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int32",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/PublicCardListResponse",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "results" : [ {
                    "id" : "123",
                    "createdAt" : "2020-02-26T18:30:53.451Z",
                    "updatedAt" : "2020-02-26T18:30:53.451Z",
                    "title" : "PetSpot",
                    "fetch" : {
                      "targetUrl" : "https://www.example.com/hubspot/target",
                      "objectTypes" : [ {
                        "name" : "contacts",
                        "propertiesToSend" : [ "email", "firstname" ]
                      } ]
                    },
                    "display" : {
                      "properties" : [ {
                        "name" : "pet_name",
                        "label" : "Pets Name",
                        "dataType" : "STRING"
                      } ]
                    },
                    "actions" : {
                      "baseUrls" : [ "https://www.example.com/hubspot" ]
                    }
                  } ]
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "developer_hapikey" : [ ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : {
        "tags" : [ "Cards" ],
        "summary" : "Create a new card",
        "description" : "Defines a new card that will become active on an account when this app is installed.",
        "externalDocs" : null,
        "operationId" : "post-/crm/v3/extensions/cards-dev/{appId}",
        "parameters" : [ {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int32",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : {
          "description" : "The new card definition.",
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/CardCreateRequest",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/PublicCardResponse",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z",
                  "title" : "PetSpot",
                  "fetch" : {
                    "targetUrl" : "https://www.example.com/hubspot/target",
                    "objectTypes" : [ {
                      "name" : "contacts",
                      "propertiesToSend" : [ "email", "firstname" ]
                    } ]
                  },
                  "display" : {
                    "properties" : [ {
                      "name" : "pet_name",
                      "label" : "Pet's Name",
                      "dataType" : "STRING"
                    } ]
                  },
                  "actions" : {
                    "baseUrls" : [ "https://www.example.com/hubspot" ]
                  }
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "developer_hapikey" : [ ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/crm/v3/extensions/cards-dev/{appId}/{cardId}" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Cards" ],
        "summary" : "Get a card.",
        "description" : "Returns the definition for a card with the given ID.",
        "externalDocs" : null,
        "operationId" : "get-/crm/v3/extensions/cards-dev/{appId}/{cardId}",
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the target card.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int32",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/PublicCardResponse",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z",
                  "title" : "PetSpot",
                  "fetch" : {
                    "targetUrl" : "https://www.example.com/hubspot/target",
                    "objectTypes" : [ {
                      "name" : "contacts",
                      "propertiesToSend" : [ "email", "firstname" ]
                    } ]
                  },
                  "display" : {
                    "properties" : [ {
                      "name" : "pet_name",
                      "label" : "Pets Name",
                      "dataType" : "STRING"
                    } ]
                  },
                  "actions" : {
                    "baseUrls" : [ "https://www.example.com/hubspot" ]
                  }
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "developer_hapikey" : [ ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : null,
      "delete" : {
        "tags" : [ "Cards" ],
        "summary" : "Delete a card",
        "description" : "Permanently deletes a card definition with the given ID. Once deleted, data fetch requests for this card will no longer be sent to your service. This can't be undone.",
        "externalDocs" : null,
        "operationId" : "delete-/crm/v3/extensions/cards-dev/{appId}/{cardId}",
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card to delete.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int32",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "204" : {
            "description" : "No content",
            "headers" : null,
            "content" : { },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "developer_hapikey" : [ ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "options" : null,
      "head" : null,
      "patch" : {
        "tags" : [ "Cards" ],
        "summary" : "Update a card",
        "description" : "Update a card definition with new details.",
        "externalDocs" : null,
        "operationId" : "patch-/crm/v3/extensions/cards-dev/{appId}/{cardId}",
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card to update.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The ID of the target app.",
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int32",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : {
          "description" : "Card definition fields to be updated.",
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/CardPatchRequest",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/PublicCardResponse",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : {
                  "createdAt" : "2019-10-30T03:30:17.883Z",
                  "updatedAt" : "2019-11-30T03:30:17.883Z",
                  "title" : "PetSpot",
                  "fetch" : {
                    "targetUrl" : "https://www.example.com/hubspot/target",
                    "objectTypes" : [ {
                      "name" : "contacts",
                      "propertiesToSend" : [ "email", "firstname" ]
                    } ]
                  },
                  "display" : {
                    "properties" : [ {
                      "name" : "pet_name",
                      "label" : "Pets Name",
                      "dataType" : "STRING"
                    } ]
                  },
                  "actions" : {
                    "baseUrls" : [ "https://www.example.com/hubspot" ]
                  }
                },
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "developer_hapikey" : [ ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    }
  },
  "components" : {
    "schemas" : {
      "CardFetchBodyPatch" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "objectTypes" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "cardType" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : [ "EXTERNAL", "SERVERLESS" ]
          },
          "targetUrl" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "URL to a service endpoint that will respond with details for this card. HubSpot will call this endpoint each time a user visits a CRM record page where this card should be displayed.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "serverlessFunction" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "objectTypes" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "An array of CRM object types where this card should be displayed. HubSpot will call your target URL whenever a user visits a record page of the types defined here.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : "#/components/schemas/CardObjectTypeBody",
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : "Variant of CardFetchBody with fields as optional for patches",
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : null,
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "CardCreateRequest" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "actions", "display", "fetch", "title" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "title" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The top-level title for this card. Displayed to users in the CRM UI.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "fetch" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : null,
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : "#/components/schemas/CardFetchBody",
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "display" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : null,
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : "#/components/schemas/CardDisplayBody",
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "actions" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : null,
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : "#/components/schemas/CardActions",
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : "State of card definition to be created",
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : {
          "title" : "PetSpot",
          "fetch" : {
            "targetUrl" : "https://www.example.com/hubspot/target",
            "objectTypes" : [ {
              "name" : "contacts",
              "propertiesToSend" : [ "email", "firstname" ]
            } ]
          },
          "display" : {
            "properties" : [ {
              "name" : "pet_name",
              "label" : "Pets Name",
              "dataType" : "STRING"
            } ]
          },
          "actions" : {
            "baseUrls" : [ "https://www.example.com/hubspot" ]
          }
        },
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "IntegratorObjectResult" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "actions", "id", "title", "tokens" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "id" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "title" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "linkUrl" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "tokens" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : "#/components/schemas/ObjectToken",
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "actions" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "allOf" : null,
              "anyOf" : null,
              "oneOf" : [ {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/ActionHookActionBody",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              }, {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/IFrameActionBody",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              } ],
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : null,
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : null,
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "CardDisplayProperty" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "dataType", "label", "name", "options" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "name" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "An internal identifier for this property. This value must be unique TODO.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "label" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The label for this property as you'd like it displayed to users.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "dataType" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "Type of data represented by this property.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : [ "BOOLEAN", "CURRENCY", "DATE", "DATETIME", "EMAIL", "LINK", "NUMERIC", "STRING", "STATUS" ]
          },
          "options" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "An array of available options that can be displayed. Only used in when `dataType` is `STATUS`.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : "#/components/schemas/DisplayOption",
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : "Definition for a card display property.",
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : null,
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "CardFetchBody" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "objectTypes", "targetUrl" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "cardType" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : [ "EXTERNAL", "SERVERLESS" ]
          },
          "targetUrl" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "URL to a service endpoints that will respond with card details. HubSpot will call this endpoint each time a user visits a CRM record page where this card should be displayed.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "serverlessFunction" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "objectTypes" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "An array of CRM object types where this card should be displayed. HubSpot will call your data fetch URL whenever a user visits a record page of the types defined here.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : "#/components/schemas/CardObjectTypeBody",
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : "Configuration for this card's data fetch request.",
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : null,
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "CardObjectTypeBody" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "name", "propertiesToSend" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "name" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A CRM object type where this card should be displayed.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : [ "contacts", "deals", "companies", "tickets", "marketing_events" ]
          },
          "propertiesToSend" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "An array of properties that should be sent to this card's target URL when the data fetch request is made. Must be valid properties for the corresponding CRM object type.",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : null,
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : null,
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "PublicCardFetchBody" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "objectTypes", "targetUrl" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "targetUrl" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "objectTypes" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : "#/components/schemas/CardObjectTypeBody",
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : null,
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : null,
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "Error" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "category", "correlationId", "message" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "message" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A human readable message describing the error along with remediation steps where appropriate",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : "An error occurred",
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "correlationId" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A unique identifier for the request. Include this value with any error reports or support tickets",
            "format" : "uuid",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "category" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "The error category",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "subCategory" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "A specific category that contains more specific detail about the error",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "errors" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : "further information about the error",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : "#/components/schemas/ErrorDetail",
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "context" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "object",
            "not" : null,
            "properties" : null,
            "additionalProperties" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "array",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "items" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : "string",
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : null,
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "default" : null,
              "enum" : null
            },
            "description" : "Context about the error condition",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : {
              "invalidPropertyName" : [ "propertyValue" ],
              "missingScopes" : [ "scope1", "scope2" ]
            },
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "links" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "object",
            "not" : null,
            "properties" : null,
            "additionalProperties" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "description" : "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : null,
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : {
          "message" : "Invalid input (details will vary based on the error)",
          "correlationId" : "aeb5f871-7f07-4993-9211-075dc63e7cbf",
          "category" : "VALIDATION_ERROR",
          "links" : {
            "knowledge-base" : "https://www.hubspot.com/products/service/knowledge-base"
          }
        },
        "externalDocs" : null,
        "deprecated" : null,
[...]
