{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Quotes",
    "description" : "",
    "termsOfService" : null,
    "contact" : null,
    "license" : null,
    "version" : "v3",
    "extensions" : null
  },
  "externalDocs" : null,
  "servers" : [ {
    "url" : "https://api.hubapiqa.com",
    "description" : null,
    "variables" : null,
    "extensions" : null
  } ],
  "security" : null,
  "tags" : [ {
    "name" : "Batch",
    "description" : null,
    "externalDocs" : null,
    "extensions" : null
  }, {
    "name" : "Basic",
    "description" : null,
    "externalDocs" : null,
    "extensions" : null
  }, {
    "name" : "Public_Object",
    "description" : null,
    "externalDocs" : null,
    "extensions" : null
  }, {
    "name" : "GDPR",
    "description" : null,
    "externalDocs" : null,
    "extensions" : null
  }, {
    "name" : "Search",
    "description" : null,
    "externalDocs" : null,
    "extensions" : null
  } ],
  "paths" : {
    "/crm/v3/objects/quotes/batch/archive" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Archive a batch of quotes by ID",
        "description" : null,
        "externalDocs" : null,
        "operationId" : "post-/crm/v3/objects/quotes/batch/archive",
        "parameters" : [ ],
        "requestBody" : {
          "description" : null,
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/BatchInputSimplePublicObjectId",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "headers" : null,
            "content" : { },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2" : [ "crm.objects.quotes.write" ]
        }, {
          "private_apps" : [ "crm.objects.quotes.write" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/crm/v3/objects/quotes" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "List",
        "description" : "Read a page of quotes. Control what is returned via the `properties` query param.",
        "externalDocs" : null,
        "operationId" : "get-/crm/v3/objects/quotes",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of results to display per page.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "integer",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : "int32",
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : 10,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "after",
          "in" : "query",
          "description" : "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "propertiesWithHistory",
          "in" : "query",
          "description" : "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of objects that can be read by a single request.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "associations",
          "in" : "query",
          "description" : "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "boolean",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : false,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2" : [ "crm.objects.quotes.read" ]
        }, {
          "private_apps" : [ "crm.objects.quotes.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : {
        "tags" : [ "Basic" ],
        "summary" : "Create",
        "description" : "Create a quote with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard quotes is provided.",
        "externalDocs" : null,
        "operationId" : "post-/crm/v3/objects/quotes",
        "parameters" : [ ],
        "requestBody" : {
          "description" : null,
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/SimplePublicObjectInputForCreate",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/SimplePublicObject",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2" : [ "crm.objects.quotes.write" ]
        }, {
          "private_apps" : [ "crm.objects.quotes.write" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/crm/v3/objects/quotes/{quoteId}" : {
      "summary" : null,
      "description" : null,
      "get" : {
        "tags" : [ "Basic" ],
        "summary" : "Read",
        "description" : "Read an Object identified by `{quoteId}`. `{quoteId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.",
        "externalDocs" : null,
        "operationId" : "get-/crm/v3/objects/quotes/{quoteId}",
        "parameters" : [ {
          "name" : "quoteId",
          "in" : "path",
          "description" : null,
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "properties",
          "in" : "query",
          "description" : "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "propertiesWithHistory",
          "in" : "query",
          "description" : "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "associations",
          "in" : "query",
          "description" : "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "boolean",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : false,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "idProperty",
          "in" : "query",
          "description" : "The name of a property whose values are unique for this object type",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/SimplePublicObjectWithAssociations",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2" : [ "crm.objects.quotes.read" ]
        }, {
          "private_apps" : [ "crm.objects.quotes.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "put" : null,
      "post" : null,
      "delete" : {
        "tags" : [ "Basic" ],
        "summary" : "Archive",
        "description" : "Move an Object identified by `{quoteId}` to the recycling bin.",
        "externalDocs" : null,
        "operationId" : "delete-/crm/v3/objects/quotes/{quoteId}",
        "parameters" : [ {
          "name" : "quoteId",
          "in" : "path",
          "description" : null,
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : null,
        "responses" : {
          "204" : {
            "description" : "No content",
            "headers" : null,
            "content" : { },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2" : [ "crm.objects.quotes.write" ]
        }, {
          "private_apps" : [ "crm.objects.quotes.write" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "options" : null,
      "head" : null,
      "patch" : {
        "tags" : [ "Basic" ],
        "summary" : "Update",
        "description" : "Perform a partial update of an Object identified by `{quoteId}`. `{quoteId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "externalDocs" : null,
        "operationId" : "patch-/crm/v3/objects/quotes/{quoteId}",
        "parameters" : [ {
          "name" : "quoteId",
          "in" : "path",
          "description" : null,
          "required" : true,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "SIMPLE",
          "explode" : false,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        }, {
          "name" : "idProperty",
          "in" : "query",
          "description" : "The name of a property whose values are unique for this object type",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : {
          "description" : null,
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/SimplePublicObjectInput",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/SimplePublicObject",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2" : [ "crm.objects.quotes.write" ]
        }, {
          "private_apps" : [ "crm.objects.quotes.write" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/crm/v3/objects/quotes/batch/update" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Update a batch of quotes",
        "description" : null,
        "externalDocs" : null,
        "operationId" : "post-/crm/v3/objects/quotes/batch/update",
        "parameters" : [ ],
        "requestBody" : {
          "description" : null,
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/BatchInputSimplePublicObjectBatchInput",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObject",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "207" : {
            "description" : "multiple statuses",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObjectWithErrors",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2" : [ "crm.objects.quotes.write" ]
        }, {
          "private_apps" : [ "crm.objects.quotes.write" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/crm/v3/objects/quotes/batch/create" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Create a batch of quotes",
        "description" : null,
        "externalDocs" : null,
        "operationId" : "post-/crm/v3/objects/quotes/batch/create",
        "parameters" : [ ],
        "requestBody" : {
          "description" : null,
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/BatchInputSimplePublicObjectInputForCreate",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObject",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "207" : {
            "description" : "multiple statuses",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObjectWithErrors",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2" : [ "crm.objects.quotes.write" ]
        }, {
          "private_apps" : [ "crm.objects.quotes.write" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/crm/v3/objects/quotes/merge" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : {
        "tags" : [ "Public_Object" ],
        "summary" : "Merge two quotes with same type",
        "description" : null,
        "externalDocs" : null,
        "operationId" : "post-/crm/v3/objects/quotes/merge",
        "parameters" : [ ],
        "requestBody" : {
          "description" : null,
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/PublicMergeInput",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/SimplePublicObject",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2" : [ "crm.objects.quotes.write" ]
        }, {
          "private_apps" : [ "crm.objects.quotes.write" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/crm/v3/objects/quotes/search" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : {
        "tags" : [ "Search" ],
        "summary" : null,
        "description" : null,
        "externalDocs" : null,
        "operationId" : "post-/crm/v3/objects/quotes/search",
        "parameters" : [ ],
        "requestBody" : {
          "description" : null,
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/PublicObjectSearchRequest",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2" : [ "crm.objects.quotes.read" ]
        }, {
          "private_apps" : [ "crm.objects.quotes.read" ]
        } ],
        "servers" : null,
        "extensions" : {
          "x-hubspot-rate-limit-exemptions" : [ "ten-secondly" ]
        }
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/crm/v3/objects/quotes/batch/read" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : {
        "tags" : [ "Batch" ],
        "summary" : "Read a batch of quotes by internal ID, or unique property values",
        "description" : null,
        "externalDocs" : null,
        "operationId" : "post-/crm/v3/objects/quotes/batch/read",
        "parameters" : [ {
          "name" : "archived",
          "in" : "query",
          "description" : "Whether to return only results that have been archived.",
          "required" : false,
          "deprecated" : null,
          "allowEmptyValue" : null,
          "$ref" : null,
          "style" : "FORM",
          "explode" : true,
          "allowReserved" : null,
          "schema" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "boolean",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : false,
            "enum" : null
          },
          "examples" : null,
          "example" : null,
          "content" : null,
          "extensions" : null
        } ],
        "requestBody" : {
          "description" : null,
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/BatchReadInputSimplePublicObjectId",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObject",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "207" : {
            "description" : "multiple statuses",
            "headers" : null,
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : null,
                  "multipleOf" : null,
                  "maximum" : null,
                  "exclusiveMaximum" : null,
                  "minimum" : null,
                  "exclusiveMinimum" : null,
                  "maxLength" : null,
                  "minLength" : null,
                  "pattern" : null,
                  "maxItems" : null,
                  "minItems" : null,
                  "uniqueItems" : null,
                  "maxProperties" : null,
                  "minProperties" : null,
                  "required" : null,
                  "type" : null,
                  "not" : null,
                  "properties" : null,
                  "additionalProperties" : null,
                  "description" : null,
                  "format" : null,
                  "$ref" : "#/components/schemas/BatchResponseSimplePublicObjectWithErrors",
                  "nullable" : null,
                  "readOnly" : null,
                  "writeOnly" : null,
                  "example" : null,
                  "externalDocs" : null,
                  "deprecated" : null,
                  "xml" : null,
                  "extensions" : null,
                  "discriminator" : null,
                  "default" : null,
                  "enum" : null
                },
                "examples" : null,
                "example" : null,
                "encoding" : null,
                "extensions" : null
              }
            },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2" : [ "crm.objects.quotes.read" ]
        }, {
          "private_apps" : [ "crm.objects.quotes.read" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    },
    "/crm/v3/objects/quotes/gdpr-delete" : {
      "summary" : null,
      "description" : null,
      "get" : null,
      "put" : null,
      "post" : {
        "tags" : [ "GDPR" ],
        "summary" : "GDPR DELETE",
        "description" : "Permanently delete a contact and all associated content to follow GDPR. Use optional property 'idProperty' set to 'email' to identify contact by email address. If email address is not found, the email address will be added to a blocklist and prevent it from being used in the future.",
        "externalDocs" : null,
        "operationId" : "post-/crm/v3/objects/quotes/gdpr-delete",
        "parameters" : [ ],
        "requestBody" : {
          "description" : null,
          "content" : {
            "application/json" : {
              "schema" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : null,
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : "#/components/schemas/PublicGdprDeleteInput",
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "examples" : null,
              "example" : null,
              "encoding" : null,
              "extensions" : null
            }
          },
          "required" : true,
          "extensions" : null,
          "$ref" : null
        },
        "responses" : {
          "204" : {
            "description" : "No content",
            "headers" : null,
            "content" : { },
            "links" : null,
            "extensions" : null,
            "$ref" : null
          },
          "default" : {
            "description" : null,
            "headers" : null,
            "content" : null,
            "links" : null,
            "extensions" : null,
            "$ref" : "#/components/responses/Error"
          }
        },
        "callbacks" : null,
        "deprecated" : null,
        "security" : [ {
          "oauth2" : [ "crm.objects.quotes.write" ]
        }, {
          "private_apps" : [ "crm.objects.quotes.write" ]
        } ],
        "servers" : null,
        "extensions" : null
      },
      "delete" : null,
      "options" : null,
      "head" : null,
      "patch" : null,
      "trace" : null,
      "servers" : null,
      "parameters" : null,
      "$ref" : null,
      "extensions" : null
    }
  },
  "components" : {
    "schemas" : {
      "StandardError" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
        "required" : [ "category", "context", "errors", "links", "message", "status" ],
        "type" : "object",
        "not" : null,
        "properties" : {
          "subCategory" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "object",
            "not" : null,
            "properties" : { },
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "context" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "object",
            "not" : null,
            "properties" : null,
            "additionalProperties" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "array",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "items" : {
                "title" : null,
                "multipleOf" : null,
                "maximum" : null,
                "exclusiveMaximum" : null,
                "minimum" : null,
                "exclusiveMinimum" : null,
                "maxLength" : null,
                "minLength" : null,
                "pattern" : null,
                "maxItems" : null,
                "minItems" : null,
                "uniqueItems" : null,
                "maxProperties" : null,
                "minProperties" : null,
                "required" : null,
                "type" : "string",
                "not" : null,
                "properties" : null,
                "additionalProperties" : null,
                "description" : null,
                "format" : null,
                "$ref" : null,
                "nullable" : null,
                "readOnly" : null,
                "writeOnly" : null,
                "example" : null,
                "externalDocs" : null,
                "deprecated" : null,
                "xml" : null,
                "extensions" : null,
                "discriminator" : null,
                "default" : null,
                "enum" : null
              },
              "default" : null,
              "enum" : null
            },
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "links" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "object",
            "not" : null,
            "properties" : null,
            "additionalProperties" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : "string",
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : null,
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "id" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "category" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "message" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          },
          "errors" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "array",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "items" : {
              "title" : null,
              "multipleOf" : null,
              "maximum" : null,
              "exclusiveMaximum" : null,
              "minimum" : null,
              "exclusiveMinimum" : null,
              "maxLength" : null,
              "minLength" : null,
              "pattern" : null,
              "maxItems" : null,
              "minItems" : null,
              "uniqueItems" : null,
              "maxProperties" : null,
              "minProperties" : null,
              "required" : null,
              "type" : null,
              "not" : null,
              "properties" : null,
              "additionalProperties" : null,
              "description" : null,
              "format" : null,
              "$ref" : "#/components/schemas/ErrorDetail",
              "nullable" : null,
              "readOnly" : null,
              "writeOnly" : null,
              "example" : null,
              "externalDocs" : null,
              "deprecated" : null,
              "xml" : null,
              "extensions" : null,
              "discriminator" : null,
              "default" : null,
              "enum" : null
            },
            "default" : null,
            "enum" : null
          },
          "status" : {
            "title" : null,
            "multipleOf" : null,
            "maximum" : null,
            "exclusiveMaximum" : null,
            "minimum" : null,
            "exclusiveMinimum" : null,
            "maxLength" : null,
            "minLength" : null,
            "pattern" : null,
            "maxItems" : null,
            "minItems" : null,
            "uniqueItems" : null,
            "maxProperties" : null,
            "minProperties" : null,
            "required" : null,
            "type" : "string",
            "not" : null,
            "properties" : null,
            "additionalProperties" : null,
            "description" : null,
            "format" : null,
            "$ref" : null,
            "nullable" : null,
            "readOnly" : null,
            "writeOnly" : null,
            "example" : null,
            "externalDocs" : null,
            "deprecated" : null,
            "xml" : null,
            "extensions" : null,
            "discriminator" : null,
            "default" : null,
            "enum" : null
          }
        },
        "additionalProperties" : null,
        "description" : null,
        "format" : null,
        "$ref" : null,
        "nullable" : null,
        "readOnly" : null,
        "writeOnly" : null,
        "example" : null,
        "externalDocs" : null,
        "deprecated" : null,
        "xml" : null,
        "extensions" : null,
        "discriminator" : null,
        "default" : null,
        "enum" : null
      },
      "CollectionResponseAssociatedId" : {
        "title" : null,
        "multipleOf" : null,
        "maximum" : null,
        "exclusiveMaximum" : null,
        "minimum" : null,
        "exclusiveMinimum" : null,
        "maxLength" : null,
        "minLength" : null,
        "pattern" : null,
        "maxItems" : null,
        "minItems" : null,
        "uniqueItems" : null,
        "maxProperties" : null,
        "minProperties" : null,
[...]
